#about-site {
	div:has(> .sidebar) {
		--sidebar-gap: var(--space-m) var(--space-3xs);
		--sidebar-min-width: auto;
		position: relative;
	}

	div:has(> .sidebar) > :not(.sidebar) {
		min-inline-size: 60%;
	}

	p {
		--measure: 45ch;
	}
}

.paper-clip {
	--_size: var(--space-m);
	position: absolute;
	inset-block-start: calc(
		(-1 * var(--space-m)) + (-1 / 2 * var(--_size)) +
			var(--border-thickness-separator)
	);
	inset-inline-end: 0px;
	inline-size: var(--_size);
}

.profile-pic {
	inline-size: var(--space-4xl);
	border: calc(2 * var(--border-thickness-separator)) solid
		var(--color-bg-primary);
	outline: var(--border-thickness-separator) solid var(--color-border);
	translate: calc(1 / 2 * var(--space-m)) calc(-1 / 2 * var(--space-m));
	rotate: -2deg;
}

@container (width >= 50vi) {
	#about-site {
		div:has(> .sidebar) {
			--sidebar-gap: var(--space-m);
		}
	}

	.paper-clip {
		display: none;
	}

	.profile-pic {
		inline-size: var(--space-5xl);
		translate: 0px 0px;
		rotate: 0deg;
	}
}
