.archive-page {
	.archive-list {
		> * + * {
			margin-block-start: 1lh;
		}

		li {
			display: inline;

			+ li::before {
				content: '/';
			}

			a {
				text-decoration: none;

				span:first-child {
					text-decoration-line: underline;
					text-decoration-thickness: 0.25rex;
					text-underline-offset: 0.25rex;
					text-decoration-color: var(--color-underline);
				}

				&:hover {
					background: #0000;

					span:first-child {
						background: var(--color-underline-hover);
					}
				}
			}
		}
	}
}
