.archive-page {
	.archive-list {
		> * {
			padding-block: 1lh;
		}

		section {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-template-rows: auto 1fr;
			gap: var(--space-s) var(--space-2xs);

			& + section {
				border-block-start: var(--border-thickness-separator) solid
					var(--color-border);
			}

			&::before {
				content: '■';
				font-size: 0.5em;
				line-height: var(--leading-tight);
			}

			> *:not(:first-child) {
				grid-column: 2/-1;
			}
		}

		li {
			display: inline;

			+ li::before {
				content: '/ ';
			}

			a {
				text-decoration: none;

				span:first-child {
					text-decoration-line: underline;
					text-decoration-thickness: 0.25rex;
					text-underline-offset: 0.25rex;
					text-decoration-color: var(--color-underline);
				}

				&:hover {
					background: #0000;

					span:first-child {
						background: var(--color-underline-hover);
					}
				}
			}
		}
	}
}
