.book-gallery {
	--flow-space: var(--space-xl);

	header {
		--sidebar-gap: var(--space-m) var(--space-s);
		flex-direction: row-reverse;
		align-items: first baseline;

		nav {
			--sidebar-min-width: 14.5rem;

			> * {
				max-inline-size: var(--sidebar-min-width);
				padding: unset;
			}
		}

		p {
			--flow-space: var(--space-s);
		}
	}

	.banner-text {
		border: none;
	}

	.heading-group {
		position: relative;

		> * {
			flex-shrink: 0;
		}

		&::after {
			content: '';
			flex-grow: 999;
			flex-shrink: 1;
			block-size: var(--border-thickness-separator);
			background: var(--color-border);
			z-index: -1;
		}

		a:not(:hover, :focus-visible) {
			opacity: 0.6;
		}
	}

	.separator {
		inline-size: var(--border-thickness-separator);
		block-size: var(--space-l);
		background-color: var(--color-border);
	}
}
