.book-gallery {
	--flow-space: var(--space-xl);
	--stack-gap: var(--space-xl);

	header {
		.nav-item {
			margin-inline-start: calc(-1 * var(--site-nav-padding-inline));
		}

		p {
			--flow-space: var(--space-s);
		}
	}

	.heading-group {
		position: relative;

		> * {
			font-size: var(--step-5);
			flex-shrink: 0;
		}

		&::after {
			content: '';
			flex-grow: 999;
			flex-shrink: 1;
			block-size: var(--border-thickness-separator);
			background: var(--color-border);
			z-index: -1;
		}

		a:not(:hover, :focus-visible) {
			opacity: 0.6;
		}
	}

	.separator {
		inline-size: calc(2 * var(--border-thickness-separator));
		block-size: var(--space-l);
		background-color: currentColor;
	}
}
