.book-gallery {
	--flow-space: var(--space-xl);

	header {
		h1 {
			position: relative;

			svg {
				--offset: 180px;
				position: absolute;
				inset-block-start: 50%;
				inset-inline-start: 50%;
				transform: translate(-50%, -50%);
				max-inline-size: unset;
				inline-size: 112.5%;
				block-size: 212.5%;
				fill: none;
				stroke-linecap: round;
				stroke-dasharray: var(--offset, 69px) 278px;
				stroke-dashoffset: 361px;
				stroke-width: var(--border-thickness-l);
				z-index: -1;
			}

			path {
				stroke: currentColor;
			}
		}

		p {
			--flow-space: var(--space-s);
		}
	}

	.home-nav-item a {
		padding-block: 0px;
	}

	.heading-group {
		position: relative;

		> * {
			flex-shrink: 0;
		}

		&::after {
			content: "";
			flex-grow: 999;
			flex-shrink: 1;
			block-size: var(--border-thickness-separator);
			background: var(--color-border);
			z-index: -1;
		}

		a:not(:hover, :focus-visible) {
			opacity: 0.6;
		}

		h1 span {
			-webkit-text-stroke: var(--space-3xs) var(--color-bg-primary);
			paint-order: stroke fill;
		}
	}

	.separator {
		inline-size: var(--border-thickness-l);
		block-size: var(--space-l);
		background-color: var(--color-border);
	}
}
