.book-gallery {
	--stack-gap: var(--space-xl);

	.skip-link:is(:active, :focus) {
		position: relative;
		inset-inline-start: var(--gutter);
	}

	.nav-item {
		margin-inline-start: calc(-1 * var(--site-nav-padding-inline));

		a {
			display: inline-block;
		}
	}

	header {
		> * {
			font-size: var(--step-5);
			flex-shrink: 0;
		}

		a:not(:hover, :focus-visible) {
			opacity: 0.6;
		}
	}

	details {
		--flow-space: var(--space-xl);
	}

	summary {
		display: flex;
		align-items: center;
		gap: 1ch;
		user-select: none;

		&::after {
			content: '';
			flex-grow: 999;
			/*block-size: var(--border-thickness-separator);*/
			block-size: var(--border-thickness-separator);
			background: var(--color-border);
		}
	}

	.book-list {
		--flow-space: var(--space-2xl-3xl);
	}
}
