.book-gallery {
	--stack-gap: var(--space-xl);

	.skip-link:is(:active, :focus) {
		position: relative;
		inset-inline-start: var(--gutter);
	}

	[href='/'] {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			inset: calc(-1 * var(--site-nav-padding-block)) 0;
		}
	}

	main {
		--flow-space: var(--space-xl);
	}

	.heading-group {
		> * {
			font-size: var(--step-4);
			flex-shrink: 0;
		}

		a:not(:hover, :focus-visible) {
			opacity: 0.6;
		}

		a:hover {
			text-decoration-thickness: max(var(--border-thickness-2xl), 0.75ex);
		}
	}

	#section-desc {
		--flow-space: var(--space-m);
	}

	fieldset,
	.book-list {
		--flow-space: var(--space-2xl);
	}

	fieldset {
		outline: var(--border-thickness-separator) solid var(--color-border);
		border-radius: var(--border-radius);
	}

	legend {
		translate: var(--space-s) -50%;

		+ * {
			padding: var(--space-s);
			padding-block-start: 0;
		}
	}
}
