.expressive-code pre {
	background: transparent;
	border: none;
}

.expressive-code .copy {
	--_inset: calc(var(--code-padding-block) / 1.66);
	inset-block-start: var(--_inset);
	inset-inline-end: var(--_inset);

	button {
		block-size: var(--space-l);
		inline-size: var(--space-l);
		opacity: 1;

		&:not(:focus-visible) {
			outline: var(--border-thickness-s) solid var(--color-border-dark);
		}

		&:where(:hover, :focus-visible) {
			background: var(--color-bg-secondary);

			> div {
				opacity: 0;
			}
		}

		&::before {
			display: none;
		}

		&::after {
			margin: 0.5em;
		}
	}
}
