.expressive-code {
	--_copy-btn-inset-block: calc(
		(var(--code-padding-block) / 1.66) + var(--border-thickness-s)
	);
	--_copy-btn-inset-inline: calc(
		(var(--code-padding-block) / 1.66) + var(--border-thickness-s)
	);

	/*.frame.has-title:not(.is-terminal) .header {
		background: var(--ec-frm-edActTabBg);

		.title {
			&::after {
				border-block: none;
			}
		}
	}*/

	.copy {
		inset-block-start: var(--_copy-btn-inset-block);
		inset-inline-end: var(--_copy-btn-inset-inline);

		button {
			block-size: var(--space-l);
			inline-size: var(--space-l);
			opacity: 1;
			outline: var(--border-thickness-l) solid var(--color-underline);

			> div {
				transition: none;
			}

			&::before {
				display: none;
			}

			&::after {
				margin: 0.65em;
			}

			&:where(:hover, :focus-visible) {
				outline-offset: 0;

				> div {
					background: var(--color-bg-button-hover);
					opacity: 1;
				}
			}
		}
	}
}

.expressive-code .frame.has-title:not(.is-terminal) {
	--_copy-btn-inset-block: calc(
		(var(--ec-uiFontSize) * var(--ec-uiLineHt)) + 2 * (var(--ec-uiPadBlk)) +
			var(--ec-codePadBlk)
	);
}
