---
import BaseLayout from "@layouts/BaseLayout.astro";

import { type CollectionEntry, getCollection, render } from "astro:content";

export async function getStaticPaths() {
	const posts = await getCollection("articles");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<"articles">;

const post = Astro.props;
const { Content } = await render(post);
---

<BaseLayout pageTitle={post.data.title} pageDesc={post.data.description}>
	<main>
		<h1>{post.data.title}</h1>
		<Content />
		<a href="/">Home</a>
	</main>
</BaseLayout>
