---
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_TITLE } from "@src/consts";

import { type CollectionEntry, getCollection, render } from "astro:content";

export async function getStaticPaths() {
	const posts = await getCollection("notes");
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<"notes">;

const post = Astro.props;
const { Content } = await render(post);

const noteTitle = `Note dated ${post.data.pubDate.toLocaleString("en-IN", {
	year: "numeric",
	month: "short",
	day: "numeric",
	hour: "numeric",
	minute: "numeric",
	timeZoneName: "shortOffset",
})} | ${SITE_TITLE}`;
---

<BaseLayout pageTitle={noteTitle}>
	<main>
		<p>
			Posted on
			<time datetime={post.data.pubDate.toISOString()}>
				{
					post.data.pubDate.toLocaleString("en-IN", {
						year: "numeric",
						month: "short",
						day: "numeric",
						dayPeriod: "long",
					})
				}
			</time>
		</p>
		<Content />
		<a href="/">Home</a>
	</main>
</BaseLayout>
