:root {
	--border-thickness-s: var(--space-5xs);
	--border-thickness-m: calc(1.5 * var(--space-5xs));
	--border-thickness-l: var(--space-4xs);
	--border-thickness-xl: var(--space-3xs);

	--border-thickness-separator: var(--border-thickness-m);
	--border-thickness-blockquote: var(--border-thickness-l);
	--border-thickness-focus: calc(1.25 * var(--space-4xs));

	--border-radius: 0px;
}
