:root {
	--border-thickness-s: var(--space-5xs);
	--border-thickness-m: calc(1.5 * var(--space-5xs));
	--border-thickness-l: var(--space-4xs);
	--border-thickness-xl: var(--space-3xs);
	--border-radius: calc(1.5 * var(--space-3xs));

	--border-thickness-separator: var(--border-thickness-m);
	--border-thickness-code: var(--border-thickness-m);
	--border-thickness-blockquote: var(--border-thickness-l);
	--border-thickness-focus: calc(1.25 * var(--space-4xs));
}

body::before,
body::after,
hr::before,
.banner-text::after,
.site-nav-container > div::after,
.feed-header::after,
aside.sidebar::before,
.entry + .entry::before,
.entry-actions > *::before,
.entry-nav-back::before,
.pagination-control::before {
	--separator: repeating-linear-gradient(
		var(--separator-angle, 0deg),
		transparent,
		transparent var(--space-4xs),
		oklch(from var(--color-text-primary) l c h / 0.3) var(--space-4xs),
		oklch(from var(--color-text-primary) l c h / 0.3) var(--space-3xs)
	);
	--separator: var(--color-border);
}
