:root {
	--border-thickness-s: var(--space-5xs);
	--border-thickness-m: calc(1.5 * var(--space-5xs));
	--border-thickness-l: var(--space-4xs);
	--border-thickness-xl: var(--space-3xs);
	--border-radius: calc(1.5 * var(--space-3xs));

	--border-thickness-blockquote: 1ex;
	--border-thickness-focus: calc(1.25 * var(--space-4xs));
}

.banner-text::after,
.feed-header::after,
aside.sidebar::before,
aside.sidebar hr::before,
.entry + .entry::before,
.entry-actions > *::before,
.entry-nav-back::before,
.pagination-control[data-direction="backwards"]::after,
.pagination-control[data-direction="forwards"]::before {
	--separator: repeating-linear-gradient(
		var(--separator-angle, 0deg),
		transparent,
		transparent 0.075lh,
		oklch(from var(--color-text-primary) l c h / 0.3) 0.075lh,
		oklch(from var(--color-text-primary) l c h / 0.3) 0.15lh
	);
	/*--separator: var(--color-border);*/
}
