:root {
	/* 1st order variables */
	--color-dark: light-dark(rgb(44, 75, 133), #1d1c1c);
	--color-light: #fefbf9;
	--color-brand: oklch(0.8383 0.1982 80.76);
	--color-brand-shade: oklch(0.6782 0.163 76.95);

	/* 2nd order variables */
	--color-dark-shade: oklch(from var(--color-dark) calc(l * 175%) c h);
	--color-light-shade: oklch(from var(--color-light) calc(l * 95%) c h);
	--color-text-primary: light-dark(var(--color-dark), var(--color-light));
	--color-bg-primary: light-dark(var(--color-light), var(--color-dark));
	--color-accent: light-dark(var(--color-brand), var(--color-brand-shade));

	/* 3rd order variables */
	--color-bg-secondary: light-dark(
		var(--color-light-shade),
		var(--color-dark-shade)
	);
	--color-border: oklch(
		from var(--color-text-primary) l c h / calc(0.2 * alpha)
	);
	--color-underline: oklch(from var(--color-accent) l c h / calc(0.75 * alpha));
	--color-focus: var(--color-accent);

	/* 4th order variables */
	--color-bg-button: light-dark(
		oklch(from var(--color-text-primary) l c h / calc(0.0625 * alpha)),
		oklch(from var(--color-text-primary) l c h / calc(0.125 * alpha))
	);
	--color-bg-button-hover: oklch(
		from var(--color-accent) l c h / calc(0.33 * alpha)
	);
	--color-bg-selection: oklch(
		from var(--color-accent) l c h / calc(0.5 * alpha)
	);
}
