:root {
	/* 1st order variables */
	--color-dark: light-dark(rgb(44, 75, 133), #1f1f1f);
	--color-light: #fefbf9;
	--color-brand: oklch(0.8383 0.1982 80.76);

	/* 2nd order variables */
	--color-brand-shade: oklch(from var(--color-brand) calc(l * 70%) c h);
	--color-dark-shade: oklch(from var(--color-dark) calc(l * 150%) c h);
	--color-light-shade: oklch(from var(--color-light) calc(l * 90%) c h);
	--color-text-primary: light-dark(var(--color-dark), var(--color-light));
	--color-bg-primary: light-dark(var(--color-light), var(--color-dark));
	--color-accent: light-dark(var(--color-brand), var(--color-brand-shade));

	/* 3rd order variables */
	--color-bg-secondary: light-dark(
		var(--color-light-shade),
		var(--color-dark-shade)
	);
	--color-border: color-mix(
		in oklab,
		var(--color-text-primary) 18%,
		var(--color-bg-primary)
	);
	--color-underline: color-mix(
		in oklab,
		var(--color-accent) 75%,
		var(--color-bg-primary)
	);
	--color-focus: var(--color-accent);
	--color-bg-button: color-mix(
		in oklab,
		var(--color-text-primary) 10%,
		var(--color-bg-primary)
	);
	--color-bg-button-hover: color-mix(
		in oklab,
		var(--color-accent) 33%,
		var(--color-bg-primary)
	);
	--color-bg-selection: oklch(
		from var(--color-accent) l c h / calc(0.5 * alpha)
	);

	--color-bg-body: var(--color-bg-primary);
	@media (--layout-with-sidebar) {
		--color-bg-body: light-dark(
			oklch(from var(--color-light) calc(l * 98%) c h),
			oklch(from var(--color-dark) calc(l * 90%) c h)
		);
	}
}
