:root {
	/* 1st order variables */
	--color-black: #000;
	--color-white: #fff;
	--color-gray: hsl(0 0 33%);
	--color-light-gray: #eee;
	--color-yellow: oklch(0.8383 0.1982 80.76);
	--color-yellow-shade: oklch(0.6782 0.163 76.95);

	/* 2nd order variables */
	--color-text-primary: light-dark(var(--color-black), var(--color-white));
	--color-text-secondary: light-dark(
		var(--color-gray),
		var(--color-light-gray)
	);
	--color-bg-primary: light-dark(var(--color-white), var(--color-black));
	--color-bg-secondary: light-dark(var(--color-light-gray), var(--color-gray));
	--color-accent: light-dark(var(--color-yellow), var(--color-yellow-shade));

	/* 3rd order variables */
	--color-border-light: oklch(from var(--color-text-primary) l c h / 0.15);
	--color-border-dark: oklch(from var(--color-text-primary) l c h / 0.25);
	--color-underline: oklch(from var(--color-accent) l c h / calc(0.75 * alpha));
	--color-focus: var(--color-accent);
}
