:root {
	@utopia typeScale({
    minFontSize: 17,
    maxFontSize: 19,
    minTypeScale: 1.125,
    maxTypeScale: 1.2,
    positiveSteps: 5,
    negativeSteps: 2,
    relativeTo: 'viewport',
    prefix: 'step'
  });
	@utopia spaceScale({
    minSize: 17,
    maxSize: 19,
    positiveSteps: [1.5, 2, 2.5, 3, 4, 5, 6],
    negativeSteps: [0.75, 0.5, 0.25, 0.125, 0.0625],
    customSizes: ['s-l', 'm-s', 's-xs', 's-5xs', 'm-5xs', 'l-5xs', 'l-m', 'xl-m'],
    relativeTo: 'viewport',
    prefix: 'space',
    usePx: false,
  });
	@utopia clamps({
      pairs: [
        [17, 19]
      ],
      prefix: 'step-cq',       /* Optional */
      relativeTo: 'container' /* Optional */
    });
}
