:root {
	@utopia typeScale({
    minFontSize: 16,
    maxFontSize: 17,
    minTypeScale: 1.125,
    maxTypeScale: 1.25,
    positiveSteps: 6,
    negativeSteps: 2,
    relativeTo: 'viewport',
    prefix: 'step'
  });
	@utopia spaceScale({
    minSize: 16,
    maxSize: 17,
    positiveSteps: [1.5, 2, 2.5, 3, 4, 5, 6, 7],
    negativeSteps: [0.75, 0.5, 0.25, 0.125, 0.0625],
    customSizes: ['s-l', 'm-s', 's-xs', 's-5xs', 'm-5xs', 'l-5xs', 'l-m', 'xl-m', '5xs-m'],
    relativeTo: 'viewport',
    prefix: 'space',
    usePx: false,
  });
}
