.entry-content {
	blockquote > *,
	li {
		--flow-space: 0.5lh;
	}

	blockquote > * + *,
	li + li {
		margin-block-start: var(--flow-space, 1lh);
	}

	img:not([class]) {
		@media (prefers-color-scheme: dark) {
			filter: brightness(0.7);
			transition: filter 0.3s ease-out;

			&:hover {
				filter: brightness(1);
			}
		}
	}
}
