.align-self-start {
	align-self: start;
}

.align-self-end {
	align-self: end;
}

.align-self-stretch {
	align-self: stretch;
}

.gap-0 {
	gap: 0px;
}

.gap-2xs {
	gap: var(--space-2xs);
}

.gap-s {
	gap: var(--space-s);
}
