.align-self-start {
	align-self: start;
}

.align-self-end {
	align-self: end;
}

.align-self-stretch {
	align-self: stretch;
}

.gap-0 {
	gap: 0px;
}

.gap-4xs {
	gap: var(--space-4xs);
}

.gap-3xs {
	gap: var(--space-3xs);
}

.gap-2xs {
	gap: var(--space-2xs);
}

.gap-xs {
	gap: var(--space-xs);
}

.gap-s {
	gap: var(--space-s);
}

.gap-m {
	gap: var(--space-m);
}

.gap-m-s {
	gap: var(--space-m-s);
}

.gap-xl {
	gap: var(--space-xl);
}

.gap-5xl {
	gap: var(--space-5xl);
}
