.box-border {
	box-sizing: border-box;
}

.box-content {
	box-sizing: content-box;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

.relative {
	position: relative;
}

.sticky {
	position: sticky;
}

.inset-bs-0 {
	inset-block-start: 0;
}

.inset-bs-space-m {
	inset-block-start: var(--space-m);
}

.container-type-inline {
	container-type: inline-size;
}

.multi-col {
	column-width: 25ch;
	column-gap: var(--space-l);
}
