.page {
	.site-nav {
		--_dynamic-margin: max(
			0px,
			((100cqi - var(--center-max-width)) / 2) - var(--gutter)
		);
		margin-inline: var(--_dynamic-margin);
	}
}

/*
	Measure the HTML container instead of the viewport.
  This width automatically shrinks when a scrollbar appears.

  Note: We cannot use @custom-media with @container yet.
  (https://github.com/csstools/postcss-plugins/issues/1035)
*/
@container doc-root (width > 68.5625rem) {
	body::before,
	.site-header::before {
		content: '';
		position: absolute;
		background-image: var(--grain-image);
		background-repeat: repeat;
		background-size: var(--space-xl) var(--space-xl);
		mix-blend-mode: hard-light;
		pointer-events: none;
		opacity: 0.66;
	}

	body::before {
		inset-block-start: 0;
		inset-inline-start: 50%;
		inline-size: 100cqi;
		block-size: 100%;
		translate: -50% 0;
		z-index: -1;
	}

	.page {
		/*outline: var(--border-thickness-m) solid var(--color-border);
		background: var(--color-bg-primary);*/

		position: relative;

		&::before,
		&::after {
			content: '';
			position: absolute;
			inset-block: 0;
			inline-size: var(--border-thickness-m);
			border-style: solid;
			border-image: var(--aside-image) 72 72 72 72 stretch stretch;
			border-width: 0px 0px 0px var(--border-thickness-separator);
			z-index: 2;
		}

		&::before {
			inset-inline-start: 0;
		}

		&::after {
			inset-inline-end: 0;
		}

		.site-header::before {
			inset: 0;
		}

		.site-nav {
			--_dynamic-margin: 0px;
		}
	}
}

.page-inner {
	--sidebar-gap: 0;
	--sidebar-min-width: 24rem;

	> aside {
		--stack-gap: var(--space-s);
		position: relative;

		border-style: solid;
		border-width: var(--border-thickness-separator) 0px 0px 0px;
		border-image: var(--aside-image) 72 72 72 72 stretch stretch;

		@media (--layout-with-sidebar) {
			border-width: 0px 0px 0px var(--border-thickness-separator);
			border-image: var(--aside-image) 72 72 72 72 stretch stretch;
		}

		> * + * {
			border-style: solid;
			border-width: var(--border-thickness-separator) 0px 0px 0px;
			border-image: var(--hr-image) 72 72 72 72 stretch stretch;
		}
	}
}
