.page:has(> .sidebar) {
	--sidebar-gap: 0lh;
	max-inline-size: var(--wrapper-max-width);
	margin-inline: auto;
	flex-direction: row-reverse;

	.sidebar > *::after {
		--_border: repeating-linear-gradient(
			var(--_angle, 0deg),
			transparent,
			transparent 0.125lh,
			var(--color-border-dark) 0.125lh,
			var(--color-border-dark) 0.25lh
		);
		--_border: var(--color-border-light);

		content: "";
		position: absolute;
		background: var(--_border);
		z-index: -1;
	}
}
