.page {
	outline: var(--border-thickness-m) solid var(--color-border);

	.site-nav {
		--_dynamic-margin: max(
			0,
			calc(((100cqi - var(--center-max-width)) / 2) - var(--gutter))
		);
		margin-inline: var(--_dynamic-margin);

		/*
			Measure the HTML container instead of the viewport.
      This width automatically shrinks when a scrollbar appears.

      Note: We cannot use @custom-media with @container yet.
      (https://github.com/csstools/postcss-plugins/issues/1035)
    */
		@container root (width > 68.5625rem) {
			--_dynamic-margin: 0px;
		}
	}
}

.page-inner {
	--sidebar-gap: 0;
	--sidebar-min-width: 24rem;

	> aside {
		--stack-gap: var(--space-s);
		position: relative;

		border-style: solid;
		border-width: var(--border-thickness-separator) 0px 0px 0px;
		border-image: var(--aside-image) 72 72 72 72 stretch stretch;

		@media (--layout-with-sidebar) {
			border-width: 0px 0px 0px var(--border-thickness-separator);
			border-image: var(--aside-image) 72 72 72 72 stretch stretch;
		}

		> * + * {
			border-style: solid;
			border-width: var(--border-thickness-separator) 0px 0px 0px;
			border-image: var(--hr-image) 72 72 72 72 stretch stretch;
		}
	}
}
