.page {
	.site-nav {
		margin-inline: max(
			0px,
			calc((100vw - var(--center-max-width)) / 2) - var(--gutter)
		);

		@media (--layout-with-sidebar) {
			margin-inline: 0px;
		}
	}
}

.page-inner {
	--sidebar-gap: 0;

	> aside {
		--stack-gap: var(--space-s);
		position: relative;

		border-style: solid;
		border-width: var(--border-thickness-separator) 0px 0px 0px;
		border-image: var(--aside-image) 72 72 72 72 repeat repeat;

		@media (--layout-with-sidebar) {
			border-width: 0px 0px 0px var(--border-thickness-separator);
			border-image: var(--aside-image) 72 72 72 72 repeat repeat;
		}

		> * + * {
			border-style: solid;
			border-width: var(--border-thickness-separator) 0px 0px 0px;
			border-image: var(--hr-image) 72 72 72 72 repeat repeat;
		}
	}
}
