.page {
	background: var(--color-bg-primary);
	outline: var(--border-thickness-separator) solid var(--color-border);

	@media (--wrapper-max-width) {
		border-radius: var(--border-radius);
		overflow: clip;
	}

	.site-nav {
		margin-inline: max(
			0px,
			calc((100vw - var(--center-max-width)) / 2) - var(--gutter)
		);

		@media (--layout-with-sidebar) {
			margin-inline: 0px;
		}
	}
}

.page-inner {
	--sidebar-gap: 0;
	flex-grow: 999;

	> aside.sidebar::before,
	> aside hr::before {
		/*--separator: repeating-linear-gradient(
			var(--separator-angle, 0deg),
			transparent,
			transparent var(--space-4xs),
			oklch(from var(--color-text-primary) l c h / 0.3) var(--space-4xs),
			oklch(from var(--color-text-primary) l c h / 0.3) var(--space-3xs)
		);*/
		--separator: var(--color-border);
	}

	> aside {
		--stack-gap: var(--space-s);
		position: relative;

		&::before {
			content: '';
			position: absolute;
			background: var(--separator);
			/*z-index: -1;*/
			inset-inline-start: 0;
			inset-block-start: 0;
			inline-size: var(--border-thickness-separator);
			block-size: 100%;

			@container (width > 50vi) {
				--separator-angle: 90deg;
				inset-inline: 0;
				inset-block-start: 0;
				inline-size: 100%;
				block-size: var(--border-thickness-separator);
			}
		}

		> * + * {
			border-block-start: var(--border-thickness-separator) solid
				var(--color-border);
		}

		@container (width >= 44rem) {
			ul:not([role='list']) {
				column-count: 2;
				column-gap: var(--space-l);
			}
		}
	}
}
