.text-step--1 {
	font-size: var(--step--1);
	letter-spacing: 0.025em;
}

.text-step-0 {
	font-size: var(--step-0);
}

.text-step-1 {
	font-size: var(--step-1);
}

.aside-text-step-1 {
	font-size: var(--step-cq-17-19);
	letter-spacing: 0.0125em;

	@container (width > 50vi) {
		letter-spacing: normal;
	}
}

.text-align-end {
	text-align: end;
}

.text-box-trim {
	text-box: trim-both cap alphabetic;
}

.text-box-trim-start {
	text-box: trim-start cap alphabetic;
}

.text-box-trim-end {
	text-box: trim-end cap alphabetic;
}

.text-balance {
	text-wrap: balance;
}

.leading-flat {
	line-height: var(--leading-flat);
}

.leading-snug {
	line-height: var(--leading-snug);
}

.leading-normal {
	line-height: var(--leading-normal);
}

.leading-relaxed {
	line-height: var(--leading-relaxed);
}

.font-regular {
	font-weight: var(--font-regular);
}

.font-medium {
	font-weight: var(--font-medium);
}
