.visually-hidden:not(:focus-visible):not(:active) {
	position: absolute;
	block-size: 1px;
	inline-size: 1px;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	overflow: hidden;
	white-space: nowrap;
}

[hidden],
.hidden {
	display: none;
}
