---
import { SITE_DESCRIPTION } from 'src/consts';
---

<section id="about-site">
	<div class="center p-space-m">
		<div class="stack align-self-start">
			<h2 class="heading-3">About this site</h2>
			<p class="aside-text-step-1 text-balance">{SITE_DESCRIPTION}</p>
			<a
				class="aside-text-step-1 text-box-trim"
				href="mailto:hello@arpit.codes"
			>
				Get in touch
			</a>
		</div>
	</div>
</section>
