---
import { Image } from 'astro:assets';
import myImage from '@images/arpit.jpg';
import paperClip from '@images/paper-clip.png';

const path = Astro.url.pathname;
const isHomePage = path === '/';
---

<section id="about-site" aria-labelledby="about-site_heading">
	<div class="center p-space-m">
		<div class="align-self-stretch">
			<div class="stack">
				<h2 class="heading-3" id="about-site_heading">About this site</h2>
				<p class="text-balance">
					The online home of <a href="https://arpit.codes/">Arpit Agrawal</a>, a
					web designer-developer from India.
				</p>
				<a class="text-box-trim" href="mailto:hello@arpit.codes">
					hello@arpit.codes
				</a>
			</div>
			{
				isHomePage && (
					<div class="sidebar">
						<Image
							src={myImage}
							alt=""
							class="profile-pic"
							widths={[112, 224, 336]}
							sizes="112px"
							priority={true}
						/>
						<Image
							src={paperClip}
							alt=""
							class="paper-clip"
							widths={[27, 54, 81]}
							sizes="27px"
							priority={true}
						/>
					</div>
				)
			}
		</div>
	</div>
</section>
