---

---

<section id="about-site" aria-labelledby="about-site_heading">
	<div class="center p-space-m">
		<div class="stack align-self-start">
			<h2 class="heading-3" id="about-site_heading">About this site</h2>
			<p class="aside-text-step-1 text-balance">
				The online home of <a href="https://arpit.codes/">Arpit Agrawal</a>, a
				web designer-developer from India.
			</p>
			<a
				class="aside-text-step-1 text-box-trim"
				href="mailto:hello@arpit.codes"
			>
				Get in touch
			</a>
		</div>
	</div>
</section>
