---
import { SITE_DESCRIPTION } from "@src/consts";
---

<aside class="sidebar container-type-inline">
	<div class="center p-space-m">
		<div class="flow align-self-start">
			<h2 class="heading-4 text-box-trim">About this site</h2>
			<p>{SITE_DESCRIPTION}</p>
			<slot />
		</div>
	</div>
</aside>
