---
import Subscribe from "@components/Subscribe.astro";
---

<aside class="sidebar container-type-inline">
	<div class="center p-space-m">
		<div class="flow align-self-stretch">
			<slot />
			<Subscribe />
		</div>
	</div>
</aside>
