<back-link class="back-link pb-space-m text-step--1 text-box-trim">
	<a href="/" class="inline-block text-box-trim">
		&larr; Back
		<span class="visually-hidden">to the previous page</span>
	</a>
</back-link>

<script src="/src/scripts/back-link.js"></script>
