---
import type { HTMLTag, Polymorphic } from 'astro/types';
type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }>;
const { as: Tag = 'div' } = Astro.props;

import { SITE_TITLE } from 'src/consts';
---

<div class="banner-text">
	<a href="/" aria-label="Home"></a>
	<Tag class="leading-snug">
		<span class="text-fit">
			<span><span class="text-box-trim-end">{SITE_TITLE}</span></span>
			<span aria-hidden="true">{SITE_TITLE}</span>
		</span>
	</Tag>
</div>
