---
import type { HTMLTag, Polymorphic } from 'astro/types';
type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }>;
const { as: Tag = 'div' } = Astro.props;

import { SITE_TITLE } from 'src/consts';
import BannerSVG from '@images/banner.svg';
---

<Tag class="banner-text pi-space-m">
	<a href="/" aria-label={SITE_TITLE}>
		<BannerSVG />
	</a>
</Tag>
