---
import type { HTMLTag, Polymorphic } from "astro/types";
type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }>;
const { as: Tag = "div" } = Astro.props;

import { SITE_TITLE } from "src/consts";
---

<div class="banner-text wrapper">
	<Tag class="text-box-trim leading-snug">
		<span class="text-fit">
			<span><span class="text-box-trim">{SITE_TITLE}</span></span>
			<span class="text-box-trim" aria-hidden="true">{SITE_TITLE}</span>
		</span>
	</Tag>
</div>
