---
import type { HTMLTag, Polymorphic } from "astro/types";
type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }>;
const { as: Tag = "div" } = Astro.props;

import { SITE_TITLE } from "@src/consts";
---

<div class="banner-text">
	<Tag class="wrapper text-box-trim leading-snug">
		<a href="/">
			<span class="text-fit">
				<span><span class="text-box-trim">{SITE_TITLE}</span></span>
				<span class="text-box-trim" aria-hidden="true">{SITE_TITLE}</span>
			</span>
		</a>
	</Tag>
</div>
