---
interface Props {
	text: string;
	statusMsg?: string;
}

const { text, statusMsg } = Astro.props;
---

<copy-to-clipboard
	class="text-box-trim"
	text={text}
	status-msg={statusMsg}
	copied-btn-label="Copied!"
>
	<button class="text-box-trim"><slot /></button>
</copy-to-clipboard>

<script src="/src/scripts/copy-to-clipboard.js"></script>
