<back-link class="entry-nav-back pb-space-m text-step--1 text-box-trim">
	<a href="/" class="inline-block text-box-trim">
		&larr; Back
		<span class="visually-hidden">to the previous page</span>
	</a>
</back-link>

<style is:global>
	@layer blocks {
		.entry-nav-back {
			display: block;
			border-block-start: var(--border-thickness-separator) solid
				var(--color-border);
		}
	}
</style>

<script>
	class BackLink extends HTMLElement {
		connectedCallback() {
			// Find the inner <a>
			const link = this.querySelector("a");
			if (!link) return; // fail gracefully if none

			link.addEventListener("click", (e) => {
				const ref = document.referrer;
				if (ref && new URL(ref).origin === location.origin) {
					e.preventDefault();
					history.back();
				} else {
					location.href = "/";
				}
			});
		}
	}
	customElements.define("back-link", BackLink);
</script>
