<back-link
	class="entry-nav-back pb-space-m flow-space-0 text-step--1 text-box-trim"
>
	<a href="/" class="inline-block text-box-trim">
		&larr; Back
		<span class="visually-hidden">to the previous page</span>
	</a>
</back-link>

<style is:global>
	@layer blocks {
		.entry-nav-back {
			position: relative;
			display: block;

			&::before {
				--separator-angle: 90deg;
				content: "";
				position: absolute;
				inset-inline: 0;
				inset-block-start: 0;
				block-size: var(--border-thickness-s);
				background: var(--separator);
			}
		}
	}
</style>

<script>
	class BackLink extends HTMLElement {
		connectedCallback() {
			// Find the inner <a>
			const link = this.querySelector("a");
			if (!link) return; // fail gracefully if none

			link.addEventListener("click", (e) => {
				const ref = document.referrer;
				if (ref && new URL(ref).origin === location.origin) {
					e.preventDefault();
					history.back();
				} else {
					location.href = "/";
				}
			});
		}
	}
	customElements.define("back-link", BackLink);
</script>
