---
import CopyToClipboard from '@components/CopyToClipboard.astro';
import MastodonShare from '@components/MastodonShare.astro';

const copyText = `${new URL(Astro.url.pathname, Astro.site)}`;
const blueskyLink = `https://bsky.app/intent/compose?text=${encodeURIComponent(`${Astro.url}`)}`;
const mailtoLink = `mailto:hello@arpit.codes?subject=${encodeURIComponent('Re: ' + Astro.url.pathname)}`;
---

<div class="share-feedback repel pb-space-m">
	<p class="text-box-trim">Share:</p>
	<div class="cluster gap-s">
		<a class="text-box-trim" href={blueskyLink} target="_blank">Bluesky</a>
		<MastodonShare />
		<CopyToClipboard text={copyText}>
			Copy link
			<span class="visually-hidden">To This Entry</span>
		</CopyToClipboard>
	</div>
</div>
<div class="repel pb-space-m">
	<p class="text-box-trim">Found this useful?</p>
	<a class="text-box-trim" href={mailtoLink}>
		Let me know
		<!-- <span class="text-step--2">(via email)</span> -->
	</a>
</div>
