---
import CopyToClipboard from "@components/CopyToClipboard.astro";
import MastodonShare from "./MastodonShare.astro";

const copyText = `${new URL(Astro.url.pathname, Astro.site)}`;
const blueskyLink = `https://bsky.app/intent/compose?text=${encodeURIComponent(`${Astro.url}`)}`;
const mailtoLink = `mailto:hello@arpit.codes?subject=${encodeURIComponent("Re: " + Astro.url.pathname)}`;
---

<div class="share-intent repel">
	<p class="text-box-trim">Share:</p>
	<div class="cluster">
		<CopyToClipboard text={copyText} buttonLabel="Copy Link" />
		<a class="text-box-trim" href={blueskyLink} target="_blank">Bluesky</a>
		<MastodonShare />
	</div>
</div>
<div class="repel pb-space-m">
	<p class="text-box-trim">Found this useful?</p>
	<a class="text-box-trim" href={mailtoLink}>Let me know</a>
</div>

<style is:global>
	@layer exceptions {
		.share-intent {
			padding-block: calc(var(--space-m) - var(--space-3xs));
		}
	}
</style>
