---
interface Props {
	isVisuallyHidden: boolean;
	sectionTitle?: string;
	sectionDesc?: string;
}

const { isVisuallyHidden, sectionTitle, sectionDesc } = Astro.props;
---

<div class:list={["feed-header", { "visually-hidden": isVisuallyHidden }]}>
	<div class="center p-space-m">
		{
			!!sectionTitle && !!sectionDesc ? (
				<hgroup class="flow align-self-stretch">
					<h1>{sectionTitle}</h1>
					<p>{sectionDesc}</p>
				</hgroup>
			) : !!sectionTitle ? (
				<h1 class="align-self-stretch">{sectionTitle}</h1>
			) : (
				<p class="align-self-stretch">{sectionDesc}</p>
			)
		}
	</div>
</div>
