---
interface Props {
	isVisuallyHidden: boolean;
	sectionTitle: string;
	sectionDesc?: string;
}

const { isVisuallyHidden, sectionTitle, sectionDesc } = Astro.props;
---

<div class:list={['feed-header', { 'visually-hidden': isVisuallyHidden }]}>
	<div class="center pi-space-m">
		{
			!!sectionTitle && !!sectionDesc ? (
				<hgroup class="cluster align-self-stretch">
					<h1 class="text-box-trim">{sectionTitle}</h1>
					<p class="text-box-trim text-balance text-step--1">{sectionDesc}</p>
				</hgroup>
			) : !!sectionTitle ? (
				<h1 class="align-self-stretch">{sectionTitle}</h1>
			) : (
				<p class="align-self-stretch">{sectionDesc}</p>
			)
		}
	</div>
</div>
