---
interface Props {
	url: string;
	label: string;
}

const { url, label } = Astro.props;
---

<p class="text-balance text-box-trim">
	• <span class="visually-hidden">Discovered</span>via <a href={url}>{label}</a>
</p>
