---
interface Props {
	url: string;
	label: string;
}

const { url, label } = Astro.props;
---

<span class="text-box-trim">•</span>
<p class="text-box-trim">
	<span class="visually-hidden">Discovered</span>
	via
	<a class="inline-block text-box-trim" href={url}>{label}</a>
</p>
