---
interface Props {
	url: string;
	label: string;
}

const { url, label } = Astro.props;
---

<p class="text-box-trim text-step--1">
	Discovered via
	<a class="inline-block text-box-trim" href={url}>{label}</a>
</p>
