<!-- https://github.com/codepo8/mastodon-share -->
<div class="mastodon-share-container cluster">
	<a
		class="mastodon-share text-box-trim"
		href="#"
		rel="noreferrer noopener"
		target="mastodon"
		data-prompt="Please tell me your Mastodon instance"
		data-edittext="Edit"
		data-editlabel="Edit your Mastodon instance"
	>
		Mastodon
	</a>
</div>

<script src="/src/scripts/mastodon-share.js"></script>
