---
import EntryList from "@components/EntryList.astro";

const { page, entries } = Astro.props;
---

{
	page.url.prev && (
		<div class="pagination-control text-box-trim" data-direction="backwards">
			<div class="center p-space-m">
				<a
					href={page.url.prev}
					rel="prev"
					class="align-self-start text-box-trim"
				>
					&larr; Newer Entries
				</a>
			</div>
		</div>
	)
}
<EntryList entries={entries} />
{
	page.url.next && (
		<div class="pagination-control text-box-trim" data-direction="forwards">
			<div class="center p-space-m">
				<a
					href={page.url.next}
					rel="next"
					class="align-self-start text-box-trim"
				>
					Older Entries &rarr;
				</a>
			</div>
		</div>
	)
}
