---
import EntryList from '@components/EntryList.astro';

const { page, entries } = Astro.props;
---

<div>
	<EntryList entries={entries} />
</div>
{
	page.lastPage > 1 && (
		<div class="pagination-control text-box-trim">
			<div class="center p-space-m">
				<div class="cluster align-self-stretch">
					{page.url.prev && (
						<a href={page.url.prev} rel="prev" class="heading-3 text-box-trim">
							&larr; Newer Entries
						</a>
					)}
					{page.url.next && (
						<a href={page.url.next} rel="next" class="heading-3 text-box-trim">
							Older Entries &rarr;
						</a>
					)}
				</div>
			</div>
		</div>
	)
}
