---
interface Props {
	categories?: string[];
}

const { categories } = Astro.props;
---

{
	!!categories && (
		<ul
			class="category-list cluster text-step--1 color-text-secondary"
			role="list"
		>
			{categories?.map((category) => (
				<li class="text-box-trim">{category}</li>
			))}
		</ul>
	)
}
