<div
	class="post-nav-back pb-space-m flow-space-0 text-step--1 color-text-secondary text-box-trim"
>
	<a
		class="inline-block text-box-trim"
		href="/"
		onclick='return document.referrer?history.back():window.location.href="/",!1'
	>
		&larr; Back <span class="visually-hidden">to the previous page</span>
	</a>
</div>

<style is:global>
	@layer blocks {
		.post-nav-back {
			border-block-start: var(--border-width-normal) solid
				var(--color-border-light);
		}
	}
</style>
