---
interface Props {
	categories?: string[];
}

const { categories } = Astro.props;
---

{
	!!categories && (
		<ul
			class="category-list cluster text-step--1 color-text-secondary"
			role="list"
		>
			{categories?.map((category) => (
				<li class="p-space-2xs text-box-trim">{category}</li>
			))}
		</ul>
	)
}

<style is:global>
	@layer blocks {
		.category-list {
			--cluster-gap: var(--space-2xs);

			li {
				outline: var(--border-width-normal) solid var(--color-border-light);
				border-radius: var(--border-radius);
			}
		}
	}
</style>
