---
interface Props {
	categories?: string[];
}

const { categories } = Astro.props;
---

{
	!!categories && (
		<ul
			class="category-list cluster text-step--1 color-text-secondary"
			role="list"
		>
			{categories?.map((category) => (
				<li class="text-box-trim">{category}</li>
			))}
		</ul>
	)
}

<style is:global>
	@layer blocks {
		.category-list {
			/*--cluster-horizontal-alignment: end;*/
			--cluster-gap: var(--space-2xs);

			/* same styles as the mastodon edit instance button */
			li {
				padding: var(--space-3xs) 0.5ch;
				outline: var(--border-width-normal) solid var(--color-border-dark);
				border-radius: var(--border-radius);
			}
		}
	}
</style>
