---
interface Props {
	date: Date;
}

const { date } = Astro.props;
---

<p class="pub-date text-box-trim">
	Posted on
	<time datetime={date.toISOString()}>
		{
			date.toLocaleString("en-IN", {
				weekday: "long",
				year: "numeric",
				month: "short",
				day: "numeric",
			})
		}
	</time>
</p>
