<div>
	<div class="center p-space-m">
		<div class="stack align-self-stretch">
			<search class="align-self-stretch">
				<form class="stack" action="/search/">
					<label class="heading-3 text-box-trim" for="search-term">
						Search
					</label>
					<div class="align-self-stretch aside-text-step-1">
						<input
							class="text-box-trim"
							type="search"
							id="search-term"
							name="q"
						/>
						<button
							class="sidebar text-box-trim align-self-stretch"
							type="submit"
						>
							Go!
						</button>
					</div>
				</form>
			</search>
			<slot />
		</div>
	</div>
</div>
