---
const path = Astro.url.pathname;
const isArchivePage = path.endsWith('/archive/');
const isTagsPage = path.endsWith('/tags/');
---

<section id="search" aria-labelledby="search_heading">
	<div class="center p-space-m">
		<div class="stack align-self-stretch">
			<h2 class="heading-3" id="search_heading">Search</h2>
			<search class="align-self-stretch">
				<form class="stack" action="/search/">
					<label
						class="heading-3 text-box-trim visually-hidden"
						for="search-term"
					>
						Search
					</label>
					<div class="align-self-stretch">
						<input
							class="text-box-trim"
							type="search"
							id="search-term"
							name="q"
						/>
						<button
							class="sidebar text-box-trim align-self-stretch"
							type="submit"
						>
							Go!
						</button>
					</div>
				</form>
			</search>
			<ul class="multi-col align-self-stretch">
				{
					!isArchivePage && (
						<li>
							Or browse the{' '}
							<a href="/archive/" data-astro-prefetch>
								archive
							</a>
						</li>
					)
				}
				{
					!isTagsPage && (
						<li>
							Or browse the{' '}
							<a href="/tags/" data-astro-prefetch>
								tags
							</a>
						</li>
					)
				}
			</ul>
		</div>
	</div>
</section>
