<!-- 🚨 not ready for production -->
<div>
	<div class="center p-space-m">
		<div class="stack align-self-stretch">
			<search class="align-self-stretch">
				<form class="stack" action="./search/">
					<label class="heading-3 text-box-trim" for="movie">Search</label>
					<div class="align-self-stretch text-step-cq-17-19">
						<input class="text-box-trim" type="search" id="movie" name="q" />
						<button class="text-box-trim align-self-stretch" type="submit">
							Search
						</button>
					</div>
				</form>
			</search>
			<ul class="text-step-cq-17-19">
				<li>
					Read the <a href="#">Archive</a>
				</li>
				<li>
					Browse the <a href="#">Tags</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<style is:global>
	@layer exceptions {
		search {
			label + div {
				display: flex;
				gap: var(--border-thickness-s);
				/*outline: var(--border-thickness-s) solid var(--color-border);*/
				border-radius: var(--space-3xs);
			}

			input {
				flex-grow: 99;
				border-radius: var(--space-3xs) 0 0 var(--space-3xs);
			}

			button {
				flex-shrink: 0;
				min-inline-size: 9ch;
				border-radius: 0 var(--space-3xs) var(--space-3xs) 0;
			}
		}
	}
</style>
