<div>
	<div class="center p-space-m">
		<div class="stack align-self-stretch">
			<search class="align-self-stretch">
				<form class="stack" action="/search/">
					<label class="heading-3 text-box-trim" for="search-term">
						Search
					</label>
					<div class="cluster align-self-stretch aside-text-step-1">
						<input
							class="text-box-trim"
							type="search"
							id="search-term"
							name="q"
						/>
						<button class="text-box-trim align-self-stretch" type="submit">
							Go!
						</button>
					</div>
				</form>
			</search>
			<ul class="fluid-col aside-text-step-1 align-self-stretch">
				<!-- <li>
					Read the <a href="#">Archive</a>
				</li> -->
				<li>
					Or browse the <a href="/tags/">tags</a>
				</li>
			</ul>
		</div>
	</div>
</div>
