<div>
	<div class="center pi-space-m">
		<div class="flow align-self-stretch">
			<search>
				<form
					id="search-form"
					class="stack"
					action="https://duckduckgo.com/"
					method="get"
				>
					<label
						class:list={['heading-1', 'text-box-trim', 'visually-hidden']}
						for="search-term"
					>
						Search
					</label>
					<div class="cluster align-self-stretch">
						<input
							class="text-box-trim"
							type="search"
							id="search-term"
							name="q"
							placeholder="Type to search…"
						/>
						<input aria-hidden="true" hidden name="sites" value="arpit.blog" />
						<!-- search and clear button -->
						<div class="search-button-container | step-min-1">
							<!-- search button -->
							<button type="submit" class="search-btn">Search</button>
							<!-- clear button -->
							<button class="clear-btn" aria-label="Clear search term">
								Clear
							</button>
						</div>
					</div>
				</form>
			</search>
			<!-- search results -->
			<div id="search-results" class="flow hidden">
				<h2 id="search-results-count" class="heading-4" aria-live="polite">
					Results
				</h2>
				<ol id="search-results-list" role="list"></ol>
			</div>
		</div>
	</div>
</div>

<style is:global>
	@layer exceptions {
		#search-form {
			margin-block-end: var(--space-m);

			.js & .search-btn {
				display: none;
			}

			.clear-btn {
				display: none;

				.js & {
					display: unset;
				}
			}

			&:has([type='search']:placeholder-shown) .clear-btn {
				cursor: not-allowed;
				/*opacity: 0.37;*/
			}

			.js & [type='search']::-webkit-search-cancel-button,
			.js & [type='search']::-webkit-search-decoration {
				-webkit-appearance: none;
			}
		}

		#search-results-list {
			li {
				border-style: solid;
				border-width: var(--border-thickness-separator) 0px 0px 0px;
				border-image: var(--hr-image) 72 72 72 72 stretch stretch;
			}

			/*mark {
				--circled-color: currentColor;
				--circle-padding: -0.5ch;

				position: relative;
				background: none;
				color: currentColor;

				&::before,
				&::after {
					content: '';
					position: absolute;
					border: var(--border-thickness-l) solid
						color-mix(
							in oklab,
							var(--color-text-primary) 50%,
							var(--color-bg-primary)
						);
					inset: var(--circle-padding);
				}

				&::before {
					inset-block-start: calc(var(--circle-padding) / 2);
					inset-inline-end: 50%;
					border-inline-end: none;
					border-radius: 100% 0 0 75% / 50% 0 0 50%;
				}

				&::after {
					inset-inline-start: 30%;
					border-inline-start: none;
					border-radius: 0 100% 75% 0 / 0 50% 50% 0;
				}
			}*/
		}
	}
</style>
