<header class="site-header sidebar">
	<div class="stack">
		<p class="description">
			The digital garden of Arpit Agrawal, a web designer-developer from India.
		</p>
		<nav>
			<ul role="list">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/notes/">Notes</a>
				</li>
				<li>
					<a href="/articles/">Articles</a>
				</li>
				<li>
					<a href="/links/">Links</a>
				</li>
				<li>
					<a href="/books/">Books</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
