---
import { SITE_DESCRIPTION } from "@src/consts";
---

<header class="site-header sidebar p-space-m">
	<div class="stack">
		<p class="description text-balance text-box-trim">
			{SITE_DESCRIPTION}
		</p>
		<nav>
			<ul role="list">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/notes/">Notes</a>
				</li>
				<li>
					<a href="/articles/">Articles</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
