---
import SiteNav from "@components/SiteNav.astro";
---

<header class="site-header sticky inset-bs-0">
	<div class="cluster gap-0">
		<div class="profile">
			<img src="/images/arpit-96w.png" alt="" />
		</div>
		<SiteNav />
	</div>
</header>
