---
import { SITE_DESCRIPTION } from "@src/consts";
import SiteNav from "@components/SiteNav.astro";
---

<!-- we add a flex class to .site-header to make its direct child stretch in the block dir -->
<header class="site-header">
	<div class="center p-space-m">
		<!-- we add align-self-start to left align the header when it is stacked above main -->
		<div class="stack align-self-start">
			<p class="text-balance text-box-trim">
				{SITE_DESCRIPTION}
			</p>
			<SiteNav />
		</div>
	</div>
</header>
