---
import SiteNav from "@components/SiteNav.astro";
import BannerText from "@components/BannerText.astro";
---

<header class="site-header">
	<div class="site-header-inner pb-space-s sticky inset-bs-0">
		<div>
			<div class="center pi-space-m">
				<div class="align-self-start">
					<SiteNav />
				</div>
			</div>
		</div>
		<div class="sidebar" aria-hidden="true">
			<!-- intentionally empty -->
		</div>
	</div>
	<BannerText />
</header>
