---
const navLinks = [
	// {
	// 	label: "Home",
	// 	href: "/",
	// },
	{
		label: "Notes",
		href: "/notes/",
	},
	{
		label: "Articles",
		href: "/articles/",
	},
	{
		label: "Links",
		href: "/links/",
	},
];

const { pathname } = Astro.url;

function getLinkState(href: string, pathname: string) {
	const isCurrent = href === pathname;
	const isActive = href.length > 1 && pathname.startsWith(href);
	return { isCurrent, isActive };
}
---

<nav class="site-nav">
	<ul class="cluster" role="list">
		{
			navLinks.map((link) => {
				const { isCurrent, isActive } = getLinkState(link.href, pathname);
				return (
					<li>
						<a
							href={link.href}
							aria-current={isCurrent ? "page" : null}
							data-state={isActive ? "active" : null}
						>
							{link.label}
						</a>
					</li>
				);
			})
		}
	</ul>
</nav>
