---
import { SITE_DESCRIPTION } from "@src/consts";
---

<header class="site-header sidebar flex">
	<div>
		<div class="stack sticky inset-bs-0 p-space-m">
			<p class="description text-balance text-box-trim">
				{SITE_DESCRIPTION}
			</p>
			<nav>
				<ul role="list">
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/notes/">Notes</a>
					</li>
					<li>
						<a href="/articles/">Articles</a>
					</li>
					<li>
						<a href="/tags/">Tags</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
