---
import { SITE_DESCRIPTION } from "@src/consts";
import SiteNav from "@components/SiteNav.astro";
---

<!-- we add a flex class to .site-header to make its direct child stretch in the block dir -->
<header class="site-header sidebar flex container-type-inline">
	<div class="center i-full p-space-m">
		<div class="stack sticky inset-bs-space-m align-self-start">
			<p class="description text-box-trim">
				{SITE_DESCRIPTION}
			</p>
			<SiteNav />
		</div>
	</div>
</header>
