---
const path = Astro.url.pathname;
const isLibraryPage = path.includes('/library/');
const isAntiLibraryPage = path.includes('/antilibrary/');
---

<a href="#main" class="skip-link heading-3 text-box-trim visually-hidden">
	Jump to main content
</a>
{
	!(isLibraryPage || isAntiLibraryPage) && (
		<a href="#aside" class="skip-link heading-3 text-box-trim visually-hidden">
			Jump to sidebar
		</a>
	)
}
