---
const socialLinks = [
	{
		network: "Bluesky",
		username: "arpit.codes",
		href: "https://bsky.app/profile/arpit.codes",
	},
	{
		network: "Mastodon",
		username: "@arpit@indieweb.social",
		href: "https://indieweb.social/@arpit",
	},
	{
		network: "GitHub",
		username: "arpit-agr",
		href: "https://github.com/arpit-agr",
	},
	{
		network: "CodePen",
		username: "arpit-codes",
		href: "https://codepen.io/arpit-codes",
	},
	{
		network: "LinkedIn",
		username: "arpit-codes",
		href: "https://www.linkedin.com/in/arpit-codes/",
	},
];
---

<div>
	<div class="center p-space-m">
		<div class="stack align-self-start">
			<h2 class="heading-3">Elsewhere on the Web</h2>
			<ul class="text-step-cq-17-19">
				{
					socialLinks.map((link) => (
						<li>
							{link.network}: {""}
							<a href={link.href}>{link.username}</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</div>
