---
const socialLinks = [
	{
		network: 'Bluesky',
		username: 'arpit.codes',
		href: 'https://bsky.app/profile/arpit.codes',
	},
	{
		network: 'Mastodon',
		username: '@arpit@indieweb.social',
		href: 'https://indieweb.social/@arpit',
	},
	{
		network: 'GitHub',
		username: 'arpit-agr',
		href: 'https://github.com/arpit-agr',
	},
	{
		network: 'CodePen',
		username: 'arpit-codes',
		href: 'https://codepen.io/arpit-codes',
	},
	{
		network: 'LinkedIn',
		username: 'arpit-codes',
		href: 'https://www.linkedin.com/in/arpit-codes/',
	},
];
---

<section id="socials" aria-labelledby="socials_heading">
	<div class="center p-space-m">
		<div class="stack align-self-stretch">
			<h2 class="heading-3" id="socials_heading">Elsewhere on the web</h2>
			<ul class="multi-col aside-text-step-1 align-self-stretch">
				{
					socialLinks.map((link) => (
						<li>
							<a href={link.href}>
								{link.network}: {link.username}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</section>
