---
interface Props {
	url: string;
	title: string;
}

const { url, title } = Astro.props;
---

<p class="source text-step--1 color-text-secondary">
	Source:
	<a href={url}>{title}</a>
</p>

<style is:global>
	@layer blocks {
		.source {
			--measure: none;
			text-align: end;
		}
	}
</style>
