---
const rssLinks = [
	{
		label: 'Notes',
		href: '/notes/rss.xml',
	},
	{
		label: 'Articles',
		href: '/articles/rss.xml',
	},
	{
		label: 'Links',
		href: '/links/rss.xml',
	},
	{
		label: 'Notes, articles and links',
		href: '/rss.xml',
	},
];
---

<section id="subscribe" aria-labelledby="subscribe_heading">
	<div class="center p-space-m">
		<div class="stack align-self-stretch">
			<h2 class="heading-3" id="subscribe_heading">Subscribe via RSS</h2>
			<ul class="multi-col align-self-stretch">
				{
					rssLinks.map((link) => (
						<li class="text-balance">
							<a href={link.href} type="application/rss+xml">
								{link.label}
								<span class="visually-hidden">RSS</span>
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</section>
