---
const rssLinks = [
	{
		label: "My notes",
		href: "/notes/rss.xml",
		title: "Notes RSS",
	},
	{
		label: "My articles",
		href: "/articles/rss.xml",
		title: "Articles RSS",
	},
	{
		label: "My links",
		href: "/links/rss.xml",
		title: "Links RSS",
	},
];
---

<h2 class="heading-4">
	Subscribe in your <abbr title="Really Simple Syndication">RSS</abbr> reader
</h2>
<ul>
	{
		rssLinks.map((link) => (
			<li>
				<a href={link.href} type="application/rss+xml" title={link.title}>
					{link.label}
				</a>
			</li>
		))
	}
</ul>
