---
const rssLinks = [
	{
		label: "My Notes",
		href: "/notes/rss.xml",
		title: "Notes RSS",
	},
	{
		label: "My Articles",
		href: "/articles/rss.xml",
		title: "Articles RSS",
	},
	{
		label: "My Links",
		href: "/links/rss.xml",
		title: "Links RSS",
	},
	{
		label: "My Notes, Articles & Links Together",
		href: "/rss.xml",
		title: "Notes, Articles and Links RSS",
	},
];
---

<div id="subscribe">
	<div class="center p-space-m">
		<div class="stack align-self-start">
			<h2 class="heading-3">Subscribe via RSS</h2>
			<ul class="aside-text-step-1">
				{
					rssLinks.map((link) => (
						<li class="text-balance">
							<a href={link.href} type="application/rss+xml" title={link.title}>
								{link.label}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</div>
