---
const rssLinks = [
	{
		label: 'My notes',
		href: '/notes/rss.xml',
		title: 'Notes RSS',
	},
	{
		label: 'My articles',
		href: '/articles/rss.xml',
		title: 'Articles RSS',
	},
	{
		label: 'My links',
		href: '/links/rss.xml',
		title: 'Links RSS',
	},
	{
		label: 'My notes, articles & links together',
		href: '/rss.xml',
		title: 'Notes, Articles and Links RSS',
	},
];
---

<section id="subscribe" aria-labelledby="subscribe_heading">
	<div class="center p-space-m">
		<div class="stack align-self-stretch">
			<h2 class="heading-3" id="subscribe_heading">Subscribe via RSS</h2>
			<ul class="multi-col align-self-stretch">
				{
					rssLinks.map((link) => (
						<li class="text-balance">
							<a href={link.href} type="application/rss+xml" title={link.title}>
								{link.label}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>
</section>
