---
interface Props {
	tags: string[];
}

const { tags } = Astro.props;

function formatLinks(items: string[]) {
	const formatter = new Intl.ListFormat('en-IN', {
		type: 'conjunction',
	});
	return formatter.format(items);
}

import { slug } from 'github-slugger';
---

<p class="text-balance">
	Tagged:
	<Fragment
		set:html={formatLinks(
			tags.map((tag) => `<a href="/tags/${slug(tag)}/" rel="tag">${tag}</a>`),
		)}
	/>
</p>
