---
interface Props {
	tags: string[];
}

const { tags } = Astro.props;

function formatLinks(items: string[]) {
	const formatter = new Intl.ListFormat('en-IN', {
		type: 'conjunction',
	});
	return formatter.format(items);
}

import { slug } from 'github-slugger';
---

<footer class="tag-list text-balance text-step--1 leading-relaxed">
	Tagged:
	<Fragment
		set:html={formatLinks(
			tags.map((tag) => `<a href="/tags/${slug(tag)}/" rel="tag">${tag}</a>`),
		)}
	/>
</footer>

<style is:global>
	@layer blocks {
		.tag-list {
			--measure: none;
			text-align: end;
			justify-self: end;
		}
	}
</style>
