---
interface Props {
	date?: Date;
}

import { formatDate } from '@utils/date';
const { date } = Astro.props;
---

<p class="text-box-trim">
	Last Updated on
	<time datetime={date?.toISOString()}>
		{formatDate(date)}
	</time>
</p>
