---
interface Props {
	date?: Date;
}

const { date } = Astro.props;
---

<p class="text-box-trim">
	Last Updated on
	<time datetime={date?.toISOString()}>
		{
			date?.toLocaleString("en-IN", {
				weekday: "short",
				year: "numeric",
				month: "short",
				day: "numeric",
				timeZone: "Asia/Kolkata",
			})
		}
	</time>
</p>
