---
import BaseLayout from '@layouts/BaseLayout.astro';
import SiteBanner from '@components/SiteBanner.astro';
import SiteHeader from '@components/SiteHeader.astro';
import SiteSidebar from '@components/SiteSidebar.astro';
import FeedHeader from '@components/FeedHeader.astro';
import SearchWithResults from '@components/SearchWithResults.astro';

import { SEARCH_TITLE, SEARCH_DESCRIPTION } from 'src/consts';
---

<BaseLayout pageTitle={SEARCH_TITLE} pageDesc={SEARCH_DESCRIPTION}>
	<SiteBanner />
	<div class="page">
		<div>
			<SiteHeader />
			<main id="main">
				{
					import.meta.env.DEV ? (
						<FeedHeader
							isVisuallyHidden={false}
							sectionTitle="Search is disabled in Dev mode."
						/>
					) : (
						<Fragment>
							<FeedHeader
								isVisuallyHidden={false}
								sectionTitle="Search"
								sectionDesc="Search across all my notes, articles and links"
							/>
							<SearchWithResults />
							<script src="/src/scripts/search.js" />
						</Fragment>
					)
				}
			</main>
		</div>
		<SiteSidebar />
	</div>
</BaseLayout>
