@view-transition {
	navigation: auto;
}

/* 1st order variables */
:root {
	--wrapper-max-width: 56rem;

	--color-text: black;
	--color-bg: white;
	--color-accent: oklch(0.8305 0.1975 80.76);

	--border-thickness: 1px;
}

/* 2nd order variables */
:root {
	--color-border: oklch(from var(--color-text) l c h / 0.125);
	--color-underline: oklch(from var(--color-accent) l c h / 0.33);
}

:root {
	color-scheme: light;
}

body {
	font-size: 1.0625rem;
	color: var(--color-text);
	background-color: var(--color-bg);
	line-height: 1.6;
	font-size-adjust: from-font;
}

h1,
h2,
h3 {
	font-weight: 600;
}

a {
	text-decoration-thickness: clamp(var(--border-thickness), 0.066lh, 2px);
	text-decoration-color: var(--color-underline);
	transition: box-shadow 200ms ease-in-out;

	&:hover {
		box-shadow: inset 0lh -0.3lh var(--color-underline);
	}
}

blockquote {
	@supports not (hanging-punctuation: first last) {
		padding-inline-start: 1ch;
		border-inline-start: clamp(var(--border-thickness), 0.066lh, 2px) solid
			var(--color-border);
	}

	@supports (hanging-punctuation: first last) {
		hanging-punctuation: first last;

		> :first-child::before {
			content: open-quote;
		}

		> :last-child::after {
			content: close-quote;
		}
	}
}

pre,
code {
	font-family: var(--font-mono);
	font-weight: 375;
}

pre {
	padding: 0.5lh;
	max-inline-size: min(100%, var(--measure, 60ch));
	outline: var(--border-thickness) solid var(--color-border);
	border-radius: 0.25lh;
}

/*:not(pre) > code {
	padding-inline: 0.25ch;
	border-radius: 0.125lh;
	background-color: oklch(from var(--color-text) l c h / 0.03125);
}*/

hr {
	color: var(--color-border);
}
