@view-transition {
	navigation: auto;
}

:root {
	@utopia typeScale({
    minFontSize: 16,
    maxFontSize: 17,
    minTypeScale: 1.2,
    maxTypeScale: 1.25,
    positiveSteps: 5,
    negativeSteps: 2,
    relativeTo: 'viewport',
    prefix: 'step'
  });
	@utopia spaceScale({
      minSize: 16,
      maxSize: 17,
      positiveSteps: [1.5, 2, 3, 4],
      negativeSteps: [0.75, 0.5, 0.25, 0.125, 0.0625],
      customSizes: ['s-l'],
      relativeTo: 'viewport',
      prefix: 'space',
      usePx: false,
    });
}

:root {
	--color-black: #000;
	--color-white: #fff;
	--color-gray: hsl(0 0 33%);
	--color-light-gray: #eee;
	--color-yellow: oklch(0.8383 0.1982 80.76);

	--leading-flat: 1;
	--leading-tight: 1.2;
	--leading-snug: 1.4;
	--leading-normal: 1.6;
	--leading-relaxed: 1.7;
	--leading-loose: 1.9;

	--border-width-normal: var(--space-5xs);
	--border-width-thick: calc(1.5 * var(--space-5xs));
	--border-width-thicker: var(--space-4xs);
	--border-width-thickest: var(--space-3xs);
	--border-radius: 0.125lh;

	--code-font-size: calc(0.9 * var(--step-0));
	--code-border-radius: 0.25lh;
	--code-padding-block: var(--space-2xs);
	--code-padding-inline: var(--space-xs);
}

:root {
	/* 1st order variables */
	--wrapper-max-width: 57rem;
	--center-max-width: 44.9375rem;
	--page-gutter: var(--space-m);
	@custom-media --wrapper-max-width (min-width: 57rem);

	--font-sans-serif: ui-rounded, system-ui, sans-serif;
	--font-mono: ui-monospace, monospace;

	/* 2nd order variables */
	--color-text-primary: var(--color-black);
	--color-text-secondary: var(--color-gray);
	--color-bg-primary: var(--color-white);
	--color-bg-secondary: var(--color-light-gray);
	--color-accent: var(--color-yellow);

	/* 3rd order variables */
	--color-border-light: oklch(from var(--color-text-primary) l c h / 0.15);
	--color-border-dark: oklch(from var(--color-text-primary) l c h / 0.25);
}

:root {
	color-scheme: light;
	scrollbar-gutter: stable;
}

body {
	font-size: var(--step-0);
	color: var(--color-text-primary);
	background-color: var(--color-bg-primary);
	font-family: var(--font-sans-serif);
	font-size-adjust: from-font;
	line-height: var(--leading-normal);
}

h1,
h2,
h3 {
	font-weight: 600;
	font-family: var(--font-display);
}

h1 {
	font-size: var(--step-3);
	line-height: var(--leading-tight);
}

h2 {
	font-size: var(--step-2);
	line-height: var(--leading-snug);
}

h3 {
	font-size: var(--step-1);
}

a,
.link {
	--color-underline: oklch(from currentColor l c h / 0.5);
	text-decoration-thickness: var(--border-width-thick);
	text-decoration-style: dotted;
	text-decoration-color: var(--color-underline);

	&:hover {
		text-decoration-thickness: var(--border-width-thicker);
		text-decoration-style: solid;
		text-decoration-color: var(--color-accent);
	}
}

:where(ol, ul):not([role="list"]) {
	padding-inline-start: var(--page-gutter);
}

blockquote {
	font-style: italic;

	> * {
		--flow-space: 0.5lh;
	}

	p::before {
		content: open-quote;
		margin-inline-end: 1rem;
		float: inline-start;
		shape-outside: ellipse(
			calc(1.25 * var(--space-l)) var(--space-xs-s) at 20% 20%
		);

		font-family: var(--font-cursive);
		font-size: var(--step-5);
		font-style: normal;
		color: var(--color-accent);
		line-height: var(--leading-flat);
		-webkit-text-stroke: var(--space-5xs-4xs) var(--color-text-primary);
		text-shadow: var(--color-text-primary) 0 var(--space-5xs-4xs);
		paint-order: stroke fill;
	}

	p::after {
		content: close-quote;
		opacity: 0;
	}
}

pre,
code {
	font-family: var(--font-mono);
	font-size: var(--code-font-size);
	line-height: var(--leading-relaxed);
}

pre {
	padding: var(--code-padding-block) var(--code-padding-inline);
	outline: var(--border-width-normal) solid var(--color-border-light);
	border-radius: var(--code-border-radius);
}

:not(pre) > code {
	padding-inline: 0.25ch;
	border-radius: var(--border-radius);
	background-color: var(--color-bg-secondary);
}

hr {
	color: var(--color-border-light);
}

::selection {
	background-color: oklch(from var(--color-accent) l c h / calc(0.5 * alpha));
}
