@view-transition {
	navigation: auto;
}

:root {
	--wrapper-max-width: 73rem;
	--measure: 65ch;
	--gutter: var(--space-m);
	--center-max-width: var(--measure);

	/* The layout switches to two columns at 1024px. Anytime this value is changed, the value will also need to be updated below and in page.css as well */
	@custom-media --layout-with-sidebar (width >= 64rem);

	--font-mono: ui-monospace, 'SF Mono', monospace;
	--button-padding-block: 0.33em;
	--button-padding-inline: 0.5ch;
	--btn-border-radius: 100vmax;
	--site-nav-padding-block: calc(1.125 * var(--space-s));
	--site-nav-padding-inline: var(--space-2xs);
}

:root {
	container-type: inline-size;
	container-name: doc-root;
	scrollbar-gutter: stable;

	color-scheme: light dark;
	background-color: var(--color-bg-primary);
}

body {
	position: relative;
	max-inline-size: var(--wrapper-max-width);
	margin-inline: auto;
	color: var(--color-text-primary);
	accent-color: var(--color-accent);
	font-family: var(--font-sans-serif);
	font-size: var(--step-0);
	font-size-adjust: from-font;
	font-weight: var(--font-regular);
	line-height: var(--leading-normal);
	-webkit-font-smoothing: auto;

	@media (prefers-color-scheme: dark) {
		-webkit-font-smoothing: antialiased;
	}
}

/*
	Measure the HTML container instead of the viewport.
  This width automatically shrinks when a scrollbar appears.

  Note: We cannot use @custom-media with @container yet.
  (https://github.com/csstools/postcss-plugins/issues/1035)
*/
@container doc-root (width >= 75rem) {
	body::before {
		content: '';
		position: absolute;
		background-image: var(--grain-image);
		background-repeat: repeat;
		background-size: var(--space-xl) var(--space-xl);
		mix-blend-mode: hard-light;
		pointer-events: none;
		opacity: 0.66;

		inset-block-start: 0;
		inset-inline-start: 50%;
		inline-size: 100cqi;
		block-size: 100%;
		translate: -50% 0;
		z-index: -1;
	}
}

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4 {
	font-weight: var(--font-bold);
}

h1,
.heading-1 {
	font-size: var(--step-2);
	line-height: var(--leading-snug);
}

h2,
.heading-2 {
	font-size: var(--step-1);
	line-height: var(--leading-normal);
}

h3,
.heading-3 {
	font-size: var(--step-0);
	line-height: var(--leading-normal);
	letter-spacing: var(--tracking-wide);
}

h4,
.heading-4 {
	font-size: var(--step--2);
	text-transform: uppercase;
	line-height: var(--leading-normal);
	letter-spacing: var(--tracking-widest);
}

a {
	text-decoration-thickness: max(var(--border-thickness-l), 0.2ex);
	text-decoration-color: var(--color-underline);
	text-shadow: var(--color-bg-primary) var(--space-5xs) var(--space-5xs);

	&:hover,
	&:focus-visible {
		text-decoration-thickness: 0.3lh;
		text-underline-offset: -0.15lh;
		text-decoration-skip-ink: none;
	}
}

button,
.btn,
input {
	border: none;
	padding: var(--button-padding-block) var(--button-padding-inline);
	outline: var(--border-thickness-separator) solid var(--color-border);
	border-radius: var(--btn-border-radius);
	transition-property: background, outline-color, opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

button,
.btn {
	background: var(--color-bg-button);

	&:hover {
		background: var(--color-bg-button-hover);
		outline-color: var(--color-focus);
	}

	&:focus-visible {
		background: var(--color-bg-button-hover);
	}
}

input {
	background: var(--color-bg-primary);

	&:hover {
		outline-color: var(--color-focus);
	}
}

:where(ol, ul):not([role='list']) {
	/*padding-inline-start: var(--gutter);*/

	> * + * {
		margin-block-start: var(--flow-space, var(--space-3xs));
	}

	> li {
		--flow-space: 0.25lh;
	}
}

:where(ul):not([role='list']) {
	list-style: square;

	::marker {
		color: var(--color-accent);
	}
}

blockquote {
	position: relative;
	margin-inline-start: 1ch;
	padding-inline-start: var(--gutter);
	border-inline-start: var(--border-thickness-blockquote) solid transparent;
	border-image: linear-gradient(
			to bottom,
			transparent 0,
			transparent 0.8lh,
			oklch(from currentColor l c h / calc(0.75 * alpha)) 0.8lh,
			oklch(from currentColor l c h / calc(0.75 * alpha)) calc(100% - 0.2lh),
			transparent calc(100% - 0.2lh)
		)
		1;

	> * + * {
		margin-block-start: var(--flow-space, 0.5lh);
	}

	> * {
		--flow-space: 0.5lh;
	}

	> *:first-child::before {
		content: open-quote;
		font-size: var(--step-5);
		line-height: var(--leading-flat);
		color: oklch(from currentColor l c h / calc(0.875 * alpha));

		position: absolute;
		inset-inline-start: calc(-1 * var(--border-thickness-blockquote));
		inset-block-start: 0;
		translate: -35% -2%;
		background: var(--color-bg-primary);
		block-size: 0.66lh;
	}

	> *:last-child::after {
		content: close-quote;

		position: absolute;
		block-size: 1px;
		inline-size: 1px;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		overflow: hidden;
		white-space: nowrap;
	}
}

pre,
code {
	font-family: var(--font-mono);
	font-size: var(--code-font-size);
	font-weight: var(--code-font-weight);
	line-height: var(--leading-relaxed);
}

pre {
	padding: var(--code-padding-block) var(--code-padding-inline);
	border-radius: var(--code-border-radius);
	outline: var(--border-thickness-separator) solid var(--color-border);
}

:not(pre) > code {
	padding: 0px var(--space-3xs);
	border-radius: var(--code-border-radius);
	background: var(--color-bg-button);
}

mark {
	background: var(--color-accent);
	color: var(--color-text-primary);
}

strong {
	font-weight: var(--font-bold);
}

ins {
	text-decoration: none;
}

::selection {
	background-color: var(--color-bg-selection);
}

:focus-visible {
	outline: var(--border-thickness-focus) solid var(--color-focus);
}

:target {
	scroll-margin-block-start: calc((2 * var(--site-nav-padding-block)) + 1ex);
}
