@view-transition {
	navigation: auto;
}

:root {
	--wrapper-max-width: 96rem;
	--measure: 60ch;
	--sidebar-min-width: 21.4rem;
	--gutter: var(--space-m);
	--center-max-width: var(--measure);
}

:root {
	color-scheme: light;
	scrollbar-gutter: stable;
}

body {
	font-size: var(--step-0);
	color: var(--color-text-primary);
	background-color: var(--color-bg-primary);
	font-family: var(--font-sans-serif);
	font-size-adjust: from-font;
	line-height: var(--leading-normal);
	-webkit-font-smoothing: auto;
	/* https://rsms.me/inter/lab/?feat-cv05=1&feat-cv08=1 */
	font-feature-settings: "cv05", "cv08", "calt", "ccmp", "locl", "kern";
}

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3 {
	font-weight: 600;
}

h1,
.heading-1 {
	font-size: var(--step-2);
	line-height: var(--leading-snug);
}

h2,
.heading-2 {
	font-size: var(--step-1);
}

h3,
.heading-3 {
	font-size: var(--step-0);
}

a,
.link {
	text-decoration-thickness: var(--border-thickness-l);
	text-decoration-color: var(--color-underline);

	&:hover {
		text-decoration-thickness: 0.125lh;
		text-decoration-style: solid;
		text-decoration-color: var(--color-accent);
		text-decoration-skip-ink: none;
	}
}

:where(ol, ul):not([role="list"]) {
	padding-inline-start: var(--gutter);
}

blockquote {
	position: relative;
	padding-inline-start: var(--space-s-m);
	border-inline-start: var(--border-thickness-l) solid transparent;
	border-image: linear-gradient(
			to bottom,
			transparent 0,
			transparent 1lh,
			oklch(from var(--color-underline) l c h / calc(0.75 * alpha)) 1lh,
			oklch(from var(--color-underline) l c h / calc(0.75 * alpha))
				calc(100% - 0.25lh),
			transparent calc(100% - 0.25lh)
		)
		1;

	> * {
		--flow-space: 0.5lh;
	}

	> *:first-child::before {
		content: open-quote;
		color: var(--color-underline);
		font-family: var(--font-cursive);
		font-size: var(--step-3);
		line-height: var(--leading-flat);

		position: absolute;
		inset-inline-start: calc(-1 * var(--border-thickness-l));
		inset-block-start: 0;
		translate: -50% 0;
	}

	> *:last-child::after {
		content: close-quote;

		/* visually hidden */
		position: absolute;
		block-size: 1px;
		inline-size: 1px;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		overflow: hidden;
		white-space: nowrap;
	}
}

pre,
code {
	font-family: var(--font-mono);
	font-size: var(--code-font-size);
	line-height: var(--leading-relaxed);
}

pre {
	padding: var(--code-padding-block) var(--code-padding-inline);
	outline: var(--border-thickness-s) solid var(--color-border-light);
	border-radius: var(--code-border-radius);
}

:not(pre) > code {
	padding-inline: 0.25ch;
	border-radius: var(--border-radius);
	background-color: var(--color-bg-secondary);
}

hr {
	color: var(--color-border-light);
}

::selection {
	background-color: oklch(from var(--color-accent) l c h / calc(0.5 * alpha));
}

:focus-visible {
	outline: var(--border-thickness-focus) solid var(--color-focus);
	outline-offset: var(--border-thickness-focus);
	border-radius: var(--border-radius);
}

button:not(.link):focus-visible {
	outline-offset: 0;
}
