@view-transition {
	navigation: auto;
}

:root {
	--wrapper-max-width: 72rem;
	--measure: 70ch;
	--gutter: var(--space-m);
	--center-max-width: var(--measure);

	/* The layout switches to two columns at 1024px. Anytime this value is changed, the value will also need to be updated below and in page.css as well */
	@custom-media --layout-with-sidebar (width >= 64rem);

	--font-mono: ui-monospace, 'SF Mono', monospace;
	--button-padding-block: 0.5em;
	--button-padding-inline: 0.5ch;
	--btn-border-radius: var(--border-radius);
	--site-nav-padding-block: calc(1.125 * var(--space-s));
	--site-nav-padding-inline: var(--space-2xs);
}

:root {
	container-type: inline-size;
	container-name: doc-root;
	scrollbar-gutter: stable;

	color-scheme: light dark;
	background-color: var(--color-bg-primary);
}

body {
	position: relative;
	max-inline-size: var(--wrapper-max-width);
	margin-inline: auto;
	/*color: var(--color-text-secondary);*/
	color: var(--color-text-primary);
	accent-color: var(--color-accent);
	font-family: var(--font-mono);
	font-size: var(--step-0);
	font-variation-settings:
		'MONO' 0,
		'wght' var(--font-regular);
	line-height: var(--leading-normal);
	-webkit-font-smoothing: auto;

	@media (prefers-color-scheme: dark) {
		-webkit-font-smoothing: antialiased;
	}
}

/*
	Measure the HTML container instead of the viewport.
  This width automatically shrinks when a scrollbar appears.

  Note: We cannot use @custom-media with @container yet.
  (https://github.com/csstools/postcss-plugins/issues/1035)
*/
@container doc-root (width >= 75rem) {
	body::before {
		content: '';
		position: absolute;
		background-image: var(--grain-image);
		background-repeat: repeat;
		background-size: var(--space-xl) var(--space-xl);
		mix-blend-mode: hard-light;
		pointer-events: none;
		opacity: 0.66;

		inset-block-start: 0;
		inset-inline-start: 50%;
		inline-size: 100cqi;
		block-size: 100%;
		translate: -50% 0;
		z-index: -1;
	}
}

h1,
.heading-1,
h2,
.heading-2,
h3,
.heading-3,
h4,
.heading-4 {
	/*color: var(--color-text-primary);*/
	font-variation-settings:
		'MONO' 0,
		'wght' var(--font-medium);
}

h1,
.heading-1 {
	font-size: var(--step-2);
	line-height: var(--leading-snug);
	letter-spacing: -0.025em;
	font-variation-settings:
		'MONO' 0,
		'wght' var(--font-bold);
}

h2,
.heading-2 {
	font-size: var(--step-1);
	line-height: var(--leading-normal);
}

h3,
.heading-3 {
	font-size: var(--step-0);
	line-height: var(--leading-normal);
	letter-spacing: var(--tracking-wide);
}

h4,
.heading-4 {
	font-size: var(--step--1);
	text-transform: uppercase;
	line-height: var(--leading-normal);
	letter-spacing: var(--tracking-wider);
}

a {
	text-decoration-thickness: 0.25rex;
	text-underline-offset: 0.25rex;
	text-decoration-color: var(--color-underline);

	&:hover {
		background: var(--color-underline-hover);
		text-decoration-color: #0000;
	}

	&:focus-visible {
		text-decoration: none;
	}

	@media (forced-colors: active) {
		&:hover {
			text-decoration-thickness: 0.5rex;
		}
	}
}

button,
.btn,
input {
	border: none;
	padding: var(--button-padding-block) var(--button-padding-inline);
	outline: var(--border-thickness-separator) solid #0000;
	border-radius: var(--btn-border-radius);
	transition-property: background, outline-color, opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

button,
.btn {
	background: var(--color-bg-button);

	&:hover {
		background: var(--color-bg-button-hover);
		outline-color: var(--color-focus);
	}

	&:focus-visible {
		background: var(--color-bg-button-hover);
	}
}

input {
	background: var(--color-bg-primary);

	&:hover {
		outline-color: var(--color-focus);
	}
}

:where(ol, ul):not([role='list']) {
	::marker {
		color: var(--color-text-secondary);
	}

	> * + * {
		margin-block-start: var(--flow-space, var(--space-3xs));
	}

	> li {
		--flow-space: 0.25lh;
	}
}

:where(ul):not([role='list']) {
	list-style: square;
}

/*blockquote,
q {
	font-style: italic;
}*/

blockquote {
	position: relative;
	padding-inline-start: var(--space-s);
	border-inline-start: var(--border-thickness-blockquote) solid
		var(--color-border);

	> * + * {
		margin-block-start: var(--flow-space, 0.5lh);
	}

	> * {
		--flow-space: 0.5lh;
	}
}

pre,
code {
	font-family: inherit;
	font-variation-settings:
		'MONO' 1,
		'wght' var(--font-regular);
	font-size: var(--code-font-size);
	line-height: var(--leading-normal);
}

pre {
	padding: var(--code-padding-block) var(--code-padding-inline);
	border-radius: var(--code-border-radius);
	outline: var(--border-thickness-separator) solid var(--color-border);
	scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);

	&:hover {
		scrollbar-color: var(--color-scrollbar-thumb-hover)
			var(--color-scrollbar-track);
	}
}

:not(pre) > code {
	padding: 0px var(--space-3xs);
	border-radius: var(--code-border-radius);
	background: var(--color-bg-button);
}

mark,
::selection {
	background: var(--color-bg-highlight);
	color: var(--color-text-highlight);
}

strong {
	font-variation-settings:
		'MONO' 0,
		'wght' var(--font-bold);
}

ins {
	text-decoration: none;
}

:focus-visible {
	outline: var(--border-thickness-focus) solid var(--color-focus);
}

:target {
	scroll-margin-block-start: calc((2 * var(--site-nav-padding-block)) + 1ex);
}
