.grid {
	display: grid;
	gap: var(--grid-row-gap, var(--grid-gap, 1lh))
		var(--grid-column-gap, var(--grid-gap, 1lh));
	grid-template-columns: repeat(
		var(--grid-placement, auto-fill),
		minmax(var(--grid-min-item-size, min(16rem, 100%)), 1fr)
	);
}

.grid[data-layout="halves"] {
	--grid-placement: auto-fit;
	--grid-min-item-size: clamp(16rem, 50vw, 33rem);
}

.grid[data-layout="thirds"] {
	--grid-placement: auto-fit;
	--grid-min-item-size: clamp(16rem, 33%, 20rem);
}
