.astro-code {
	--shiki-light-bg: #0000 !important;
	--shiki-dark-bg: #0000 !important;
}

.astro-code,
.astro-code span {
	color: var(--shiki-light);
	background-color: var(--shiki-light-bg);

	@media (prefers-color-scheme: dark) {
		color: var(--shiki-dark);
		background-color: var(--shiki-dark-bg);
	}
}

.astro-code[data-language] {
	position: relative;

	&::before {
		content: attr(data-language);
		display: block;
		padding-block: var(--space-2xs);
		padding-inline: var(--code-padding-inline);
		background: oklch(from var(--color-border) l c h / calc(alpha * 0.8));
		color: var(--color-text-primary);
		font-size: var(--step--2);
		letter-spacing: var(--tracking-widest);
		line-height: var(--leading-flat);
	}
}

.astro-code {
	padding: unset;

	> code {
		display: block;
		padding: var(--code-padding-block) var(--code-padding-inline);
		overflow-x: auto;
	}
}
