/*https://christianpenrod.com/blog/astro-shiki-syntax-highlighting-with-css-variables*/

.astro-code {
	/* largely based on shiki themes min-light and min-dark  */
	--astro-code-background: var(--color-bg-primary);
	--astro-code-foreground: light-dark(#24292eff, #b392f0);
	--astro-code-token-constant: light-dark(#1974ce, #79b8ff);
	--astro-code-token-string: light-dark(#2c5581, #9db1c5);
	--astro-code-token-comment: light-dark(#727374, #7d8690);
	--astro-code-token-keyword: light-dark(#d32f2f, #f97583);
	--astro-code-token-parameter: light-dark(#a76300, #ff9800);
	--astro-code-token-function: light-dark(#6f42c1, #b392f0);
	--astro-code-token-string-expression: light-dark(#228439, #ffab70);
	--astro-code-token-punctuation: light-dark(#212121, #bbbbbb);
	--astro-code-token-link: light-dark(#1b75d2, #1f85ef);
}

.astro-code[data-language] {
	position: relative;

	&::before {
		content: attr(data-language);
		display: block;
		padding-block: var(--space-2xs);
		padding-inline: var(--code-padding-inline);
		background: oklch(from var(--color-border) l c h / calc(alpha * 0.8));
		color: var(--color-text-primary);
		font-variation-settings:
			'MONO' 1,
			'wght' var(--font-medium);
		font-size: var(--step--1);
		letter-spacing: var(--tracking-wider);
		line-height: var(--leading-flat);
	}
}

.astro-code {
	padding: unset;

	> code {
		display: block;
		padding: var(--code-padding-block) var(--code-padding-inline);
		overflow-x: auto;
	}
}
