.banner-text {
	view-transition-name: banner-text;
	position: relative;
	padding-block-start: var(--space-s-l);
	padding-inline: var(--gutter);

	font-family: var(--font-cursive);
	color: var(--color-accent);
	z-index: 3;

	mix-blend-mode: multiply;

	@media (prefers-color-scheme: dark) {
		mix-blend-mode: lighten;
	}

	&::before {
		content: '';
		position: absolute;
		inset-inline: 0;
		inset-block-end: 0;
		border-style: solid;
		border-width: var(--border-thickness-separator) 0px 0px 0px;
		border-image: var(--hr-image) 72 72 72 72 stretch stretch;
		z-index: -1;
	}

	&:has(a:hover) {
		mix-blend-mode: normal;
	}

	a {
		position: absolute;
		inset: 0;

		&:focus-visible {
			outline-offset: calc(-1 * var(--border-thickness-focus));
		}
	}

	.text-fit > span:first-child {
		pointer-events: none;
	}
}
