.banner-text {
	position: relative;
	padding-inline: var(--gutter);

	font-family: var(--font-cursive);
	color: var(--color-accent);

	&:has(a:hover) {
		mix-blend-mode: normal;
	}

	a {
		position: absolute;
		inset: 0;

		&:focus-visible {
			outline-offset: calc(-1 * var(--border-thickness-focus));
		}
	}

	.text-fit > span:first-child {
		pointer-events: none;
	}
}

.banner-text:has(+ .page) {
	z-index: 3;
	mix-blend-mode: multiply;

	@media (prefers-color-scheme: dark) {
		mix-blend-mode: lighten;
	}
}

@container doc-root (width >= 75rem) {
	.banner-text:has(+ .page) {
		z-index: unset;
		mix-blend-mode: unset;
	}

	.banner-text + .page {
		margin-block-start: var(--space-xs);
	}

	@media (hover: hover) {
		.banner-text:has(a:hover) + .page {
			translate: 0px var(--space-l);
			transition-delay: 150ms;
		}
	}
}
