.banner-text {
	position: relative;
	view-transition-name: banner-text;
	transition: mix-blend-mode 0.2s;
	transition-behavior: allow-discrete;

	@media (hover: hover) {
		&:has(a:hover) {
			mix-blend-mode: normal;
		}
	}

	&:focus-within:not(:has(a:active), :has(a:hover)) {
		outline: var(--border-thickness-focus) solid var(--color-focus);
		outline-offset: calc(-1 * var(--border-thickness-focus));
	}

	svg {
		inline-size: 100%;
		overflow: visible;

		path {
			fill: var(--color-accent);
		}
	}
}

.banner-text:has(+ .page) {
	z-index: 3;
	mix-blend-mode: multiply;

	@media (prefers-color-scheme: dark) {
		mix-blend-mode: lighten;
	}
}

/*@container doc-root (width >= 75rem) {
	.banner-text:has(+ .page) {
		z-index: unset;
		mix-blend-mode: unset;
	}

	.banner-text + .page {
		margin-block-start: var(--space-m);
	}
}*/
