.banner-text {
	padding-block-start: var(--space-m);
	padding-inline: var(--gutter);

	position: relative;
	font-family: var(--font-cursive);
	color: var(--color-accent);
	pointer-events: none;
	overflow-x: clip;
	z-index: 3;
}
