.banner-text {
	position: relative;
	padding-block-start: var(--space-s-l);
	padding-inline: var(--gutter);
	font-family: var(--font-cursive);
	color: var(--color-accent);
	z-index: 3;
	view-transition-name: banner-text;

	/*-webkit-text-stroke: var(--space-4xs) var(--color-bg-primary);
	paint-order: stroke fill;

	&:has(a:hover) {
		-webkit-text-stroke: var(--space-4xs)
			oklch(from var(--color-accent) calc(l * 75%) c h);
	}*/

	a {
		position: absolute;
		inset: 0;

		&:focus-visible {
			outline-offset: calc(-1 * var(--border-thickness-focus));
		}
	}

	.text-fit > span:first-child {
		pointer-events: none;
	}
}
