.book-filters[disabled] {
	opacity: 0.37;

	input,
	label {
		cursor: not-allowed;
	}
}

.book-filters {
	--btn-border-radius: 100vmax;
	--button-padding-inline: 1ch;

	padding: unset;
	border: none;

	legend {
		padding: unset;
	}

	.btn {
		outline-offset: calc(-1 * var(--border-thickness-separator));
	}

	input {
		/* visually hidden */
		position: absolute;
		block-size: 1px;
		inline-size: 1px;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		overflow: hidden;
		white-space: nowrap;
	}

	label::after {
		content: '';
		position: absolute;
		inset: 0;
	}

	> div {
		--cluster-gap: calc(1.25 * var(--space-3xs));

		> div {
			position: relative;

			&:hover,
			&:has(:checked) {
				outline-color: currentColor;
				outline-width: var(--border-thickness-focus);
			}

			&:hover {
				background: var(--color-bg-button);
			}

			&:has(:checked):hover {
				background: var(--color-bg-button-hover);
			}

			&:focus-within {
				background: var(--color-bg-button-hover);
				outline: var(--border-thickness-focus) solid var(--color-focus);
			}
		}
	}

	/*&:has(.btn:hover) .btn:not(:hover) {
		opacity: 0.37;
	}*/
}
