.book-list {
	--flow-space: calc(
		var(--space-l-xl) + (var(--step--1) * var(--leading-normal))
	);
	--grid-min-item-size: 12.8ch;
	--grid-gap: var(--space-l);

	grid-template-rows: 1fr auto;

	li {
		grid-row: span 2;

		display: grid;
		grid-template-rows: subgrid;
		gap: var(--space-s-m);

		> :last-child {
			position: relative;
		}
	}
}

/* https://codepen.io/jjcarey/full/JKGqjK */
.book-wrapper {
	perspective: 1400px;
	align-self: end;

	> * {
		position: relative;
		transform-style: preserve-3d;
		transition: transform 0.5s;
		transition-delay: 100ms;
	}

	@media (hover: hover) {
		&:hover > * {
			transform: rotate3d(0, 1, 0, 25deg);
		}
	}
}

.cover {
	--_book-cover-radius: 3px 4px 4px 3px;
	--_shadow-strength: 15%;
	--_box-shadow:
		0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--_shadow-strength) + 2%)),
		0 3px 2px -2px hsl(var(--shadow-color) / calc(var(--_shadow-strength) + 3%)),
		0 7px 5px -2px hsl(var(--shadow-color) / calc(var(--_shadow-strength) + 3%)),
		0 12px 10px -2px
			hsl(var(--shadow-color) / calc(var(--_shadow-strength) + 4%)),
		0 22px 18px -2px
			hsl(var(--shadow-color) / calc(var(--_shadow-strength) + 5%)),
		0 41px 33px -2px
			hsl(var(--shadow-color) / calc(var(--_shadow-strength) + 6%)),
		0 100px 80px -2px
			hsl(var(--shadow-color) / calc(var(--_shadow-strength) + 7%));

	position: relative;
	border-radius: var(--_book-cover-radius);
	box-shadow: var(--_box-shadow);
	transform-style: preserve-3d;
	transform-origin: 0% 50%;
	transition: transform 0.5s;
	transform: translate3d(0, 0, 20px);

	&:before,
	&:after {
		content: "";
		position: absolute;
		border-radius: var(--_book-cover-radius);
		pointer-events: none;
	}

	/* inset shadow over the book cover */
	&:before {
		inset: 0;
		box-shadow: inset var(--space-4xs) calc(-1 * var(--space-5xs))
			var(--space-3xs) rgb(0 0 0 / 0.25);
		background-image: linear-gradient(to top, rgb(0 0 0 / 0.1), white);
		mix-blend-mode: multiply;
	}

	&:after {
		inset-block-start: 0;
		inset-inline-start: 4%;
		inline-size: var(--space-4xs);
		block-size: 100%;
		background: rgba(0, 0, 0, 0.06);
		box-shadow: var(--space-5xs) 0 var(--space-4xs) rgba(255, 255, 255, 0.25);
	}

	> * {
		transform-style: preserve-3d;
	}
}

.cover,
.cover :where(picture, img) {
	inline-size: 100%;
	block-size: auto;
	border-radius: var(--_book-cover-radius);
}

.spine {
	transform: rotate3d(0, 1, 0, -90deg);
	background-color: oklch(
		from var(--dominant-color, #3f3f3f) calc(l * 75%) c h
	);
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: calc(-1 * var(--space-s) + 1px);
	inline-size: calc(2 * var(--space-s));
	block-size: 100%;
	outline: var(--border-thickness-s) solid var(--color-border);
	outline-offset: calc(-1 * var(--border-thickness-s));
}
