#currently-reading {
	header {
		--repel-vertical-alignment: baseline;
	}

	.books-container {
		--grid-min-item-size: 16.2rem;
		--grid-row-gap: var(--space-s);
		--grid-column-gap: var(--space-m);
		--grid-placement: auto-fit;
	}

	.book {
		padding: max(2cqi, var(--space-xs));
		flex-wrap: nowrap;
		align-items: stretch;
		outline: var(--border-thickness-separator) solid var(--color-border);
		border-radius: var(--border-radius);
		background: var(--color-bg-primary);
		overflow: clip;

		div:has(.cover) {
			position: relative;
			flex-basis: var(--space-6xl);
		}

		.cover {
			position: absolute;
			inset-block-start: 0;
			inset-inline-end: 0;
		}
	}
}
