.entry-content {
	> * {
		--flow-space: initial;
	}

	h1,
	h2,
	h2 + *,
	h3,
	h3 + *,
	h4,
	h4 + *,
	.astro-code,
	.astro-code + * {
		--flow-space: 1lh;
	}

	/*a {
		font-weight: var(--font-medium);
	}*/
}
