.entry-content {
	max-inline-size: 100%;

	> * {
		--flow-space: initial;
	}

	h1,
	h2,
	h2 + *,
	h3,
	h3 + *,
	h4,
	h4 + *,
	.astro-code,
	.astro-code + * {
		--flow-space: 1lh;
	}

	blockquote ul {
		padding-inline-start: var(--space-s);
	}
}
