.feed-header {
	padding-block: var(--space-m) var(--space-xs);

	hgroup {
		display: flex;
		flex-direction: column;
		gap: var(--stack-gap, var(--space-m));
		justify-content: var(--stack-vertical-alignment, flex-start);
		align-items: var(--stack-horizontal-alignment, flex-start);
	}
}
