.link-entry-title {
	svg {
		display: inline;
		block-size: 0.8em;
		inline-size: auto;
		stroke-width: 9%;
		translate: 0 12.5%;

		background-color: var(--color-underline);
		border-radius: var(--border-radius);
	}
}
