.page {
	--sidebar-gap: 0;
	--sidebar-min-width: 22.4rem;
	background: var(--color-bg-primary);
	outline: var(--border-thickness-separator) solid var(--color-border);

	> aside {
		--stack-gap: var(--space-s);
		position: relative;

		> * + * {
			border-block-start: var(--border-thickness-separator) solid
				var(--color-border);
		}

		&::before {
			content: '';
			position: absolute;
			inset-inline-start: 0;
			inset-block-start: 0;
			inline-size: var(--border-thickness-separator);
			block-size: 100%;
			border-inline-start: var(--border-thickness-separator) solid
				var(--color-border);

			@container (width > 50vi) {
				inline-size: 100%;
				block-size: var(--border-thickness-separator);
				border-inline-start: unset;
				border-block-start: var(--border-thickness-separator) solid
					var(--color-border);
			}
		}
	}
}
