.pagination-control {
	border-style: solid;
	border-width: var(--border-thickness-separator) 0px 0px 0px;
	border-image: var(--hr-image) 72 72 72 72 stretch stretch;

	a {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			inset: calc(-1 * var(--space-m)) 0;
			z-index: 2;
		}
	}

	[rel='next'] {
		margin-inline-start: auto;
	}
}
