.pagination-control {
	border-block-start: var(--border-thickness-separator) solid
		var(--color-border);

	a {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			inset: calc(-1 * var(--space-m)) 0;
			z-index: 2;
		}
	}

	[rel='next'] {
		margin-inline-start: auto;
	}
}
