search {
	label + div {
		--cluster-gap: 0px;
		border: var(--border-thickness-m) solid var(--color-border);
		border-radius: var(--border-radius);
		overflow: clip;
	}

	input,
	button {
		outline: var(--border-thickness-focus) solid var(--color-focus);
		outline-offset: calc(-1 * var(--border-thickness-focus));
	}

	input {
		flex-grow: 99;
		border-radius: var(--border-radius) 0 0 var(--border-radius);

		&:not(:hover, :focus-visible) {
			outline-color: #0000;
		}
	}

	button {
		flex-shrink: 0;
		min-inline-size: 6ch;
		border-radius: 0px;

		&:not(:hover, :focus-visible) {
			outline-color: #0000;
		}
	}
}
