search {
	input,
	button {
		&:not(:hover, :focus-visible) {
			outline-color: var(--color-border);
		}

		&:hover,
		&:focus-visible {
			outline: var(--border-thickness-focus) solid var(--color-focus);
			outline-offset: calc(-1 / 2 * var(--border-thickness-focus));
			z-index: 1;
		}
	}

	input {
		border-radius: var(--border-radius) 0 0 var(--border-radius);
	}

	button {
		--button-padding-inline: 1ch;
		--sidebar-min-width: 6ch;
		border-radius: 0px;
	}
}
