.site-header {
	display: contents;
}

.site-header-inner {
	--sidebar-gap: 0;
	position: relative;
	container-type: scroll-state;
	background-color: var(--color-bg-primary);
	z-index: 1;

	> *:first-child:after {
		--_border-angle: 90deg;

		content: "";
		position: absolute;
		z-index: -1;
		inset-inline: 0;
		inset-block-end: 0;
		inline-size: 100%;
		block-size: var(--border-thickness-s);

		@container scroll-state(stuck: block-start) {
			background: var(--_border);
		}
	}
}
