.site-header {
	display: contents;
}

.site-nav-container {
	position: relative;
	z-index: 2;

	> div {
		position: relative;
		padding-inline: var(--gutter);
		background: var(--color-bg-primary);

		&::after {
			--separator-angle: 90deg;
			content: "";
			position: absolute;
			inset-inline: 0;
			inset-block-end: 0;
			block-size: var(--border-thickness-separator);
			background: var(--separator);
		}
	}
}

.profile {
	img {
		block-size: 1lh;
		aspect-ratio: 1;
		object-fit: contain;
		object-position: left;
	}
}

.site-nav {
	> ul {
		--cluster-gap: var(--space-s) 0;
	}

	a {
		position: relative;
		display: block;

		&::after {
			content: "";
			position: absolute;
			inset-block: calc(-1 * var(--space-m));
			inset-inline: 0;
		}

		svg {
			position: absolute;
			inset-block-start: 50%;
			inset-inline-start: 50%;
			transform: translate(-50%, -50%);
			inline-size: 100%;
			block-size: 300%;
			fill: none;
			stroke-linecap: round;
			stroke-dasharray: var(--offset, 69px) 278px;
			stroke-dashoffset: 361px;
			stroke-width: var(--border-thickness-l);
			/*view-transition-name: circle;*/
		}
	}

	li:first-child a::after {
		inset-inline-start: -1lh;
	}

	[aria-current="page"],
	[data-state="active"] {
		--offset: 180px;

		path {
			stroke: currentColor;
			/*stroke: var(--color-border);*/
		}
	}
}
