.site-header {
	position: relative;
	z-index: 1;
	background: var(--color-bg-primary);
	border-style: solid;
	border-width: 0px 0px var(--border-thickness-separator) 0px;
	border-image: var(--hr-image) 72 72 72 72 stretch stretch;

	&::before {
		content: '';
		position: absolute;
		inset: 0;
		background-image: var(--grain-image);
		background-repeat: repeat;
		background-size: var(--space-xl) var(--space-xl);
		mix-blend-mode: hard-light;
		pointer-events: none;

		@media (prefers-color-scheme: dark) {
			opacity: 0.66;
		}
	}
}

.site-nav {
	padding-inline: var(--gutter);

	> ul {
		--cluster-gap: 0px;
	}

	li:not(.home-nav-item) a {
		display: block;
	}
}

.nav-item {
	a {
		position: relative;
		padding: calc(1.125 * var(--space-s)) var(--space-2xs);

		svg {
			position: absolute;
			inset-block-start: 50%;
			inset-inline-start: 50%;
			transform: translate(-50%, -50%);
			inline-size: 100%;
			block-size: 75%;
			fill: none;
			stroke-linecap: round;
			stroke-dasharray: var(--offset, 69px) 278px;
			stroke-dashoffset: 361px;
			stroke-width: var(--border-thickness-l);
			/*view-transition-name: circle;*/
		}
	}

	[aria-current='page'],
	[data-state='active'] {
		--offset: 180px;

		path {
			stroke: currentColor;
		}
	}
}
