/*.site-header {
	view-transition-name: site-header;
}*/

.site-header.sidebar {
	--stack-gap: var(--space-s-m);

	.description {
		line-height: var(--leading-snug);
	}

	nav ul {
		@container (width > 50vi) {
			display: flex;
			gap: var(--space-s);
			overflow-x: auto;
			overflow-y: hidden;
			scrollbar-color: var(--color-text-primary) var(--color-bg-primary);
			scrollbar-width: thin;

			& > * {
				flex: 0 0 auto;
			}
		}
	}
}
