.site-header {
	z-index: 1;
	background: var(--color-bg-primary);
	/*border-block-end: var(--border-thickness-separator) solid var(--color-border);*/

	&::before {
		content: '';
		position: absolute;
		inset-inline: 0;
		inset-block-end: 0;
		block-size: var(--border-thickness-separator);
		background-color: var(--color-border);
	}
}

.site-nav {
	> ul {
		--cluster-gap: 0px;
		margin-inline-start: calc(-1 * var(--site-nav-padding-inline));
	}
}

.nav-item {
	a {
		display: block;
		padding: var(--site-nav-padding-block) var(--site-nav-padding-inline);
	}
}

.site-nav {
	[aria-current] {
		position: relative;
		text-decoration-color: #0000;

		&:hover {
			text-decoration-color: revert;
		}

		&::before {
			content: '';
			position: absolute;
			inset-inline: var(--site-nav-padding-inline);
			inset-block-end: 0;
			block-size: var(--border-thickness-2xl);
			background: var(--color-accent);
		}
	}
}
