.site-header {
	position: relative;
	z-index: 2;
	background: var(--color-bg-primary);
	border-block-end: var(--border-thickness-separator) solid var(--color-border);
}

.site-nav {
	padding-inline: var(--gutter);

	> ul {
		--cluster-gap: 0px;
	}

	li:not(.home-nav-item) a {
		display: block;
	}
}

.nav-item {
	a {
		position: relative;
		padding: calc(1.25 * var(--space-s)) var(--space-2xs);

		svg {
			position: absolute;
			inset-block-start: 50%;
			inset-inline-start: 50%;
			transform: translate(-50%, -50%);
			inline-size: 100%;
			block-size: 75%;
			fill: none;
			stroke-linecap: round;
			stroke-dasharray: var(--offset, 69px) 278px;
			stroke-dashoffset: 361px;
			stroke-width: var(--border-thickness-l);
			/*view-transition-name: circle;*/
		}
	}

	[aria-current='page'],
	[data-state='active'] {
		--offset: 180px;

		path {
			stroke: currentColor;
		}
	}
}
