.skip-link {
	position: absolute;
	inset-inline-start: var(--space-m);
	inset-block-start: var(--space-xs);
	z-index: 4;

	&::before {
		content: '';
		position: absolute;
		inset: calc(-1 * var(--border-thickness-focus));
		background: var(--color-bg-primary);
		z-index: -1;
	}
}

.skip-link:nth-of-type(2) {
	inset-inline-start: unset;
	inset-inline-end: var(--space-m);
}
