.skip-link {
	display: block;
	padding-block: var(--site-nav-padding-block);
	outline: none;

	&:nth-of-type(2) {
		text-align: end;
	}

	&:focus-visible span {
		outline: var(--border-thickness-focus) solid var(--color-focus);
	}
}
