.skip-to-content {
  position: absolute;
  inset-inline-start: var(--space-xs);
  inset-block-start: var(--space-xs);
  z-index: 4;

  &::before {
    content: "";
    position: absolute;
    inset: calc(-1 * var(--border-thickness-focus));
    background: var(--color-bg-primary);
    z-index: -1;
  }
}
